{#
 * @copyright 2017-2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param string firstname
 * @param string lastname
 * @param string email
 #}
<div class="mb-3">
     <label  for="firstname" class="form-label">{{ _('firstname') }}</label>
     <input name="firstname" id="firstname" value="{{ firstname }}" class="form-control" />
</div>
<div class="mb-3">
     <label  for="lastname" class="form-label">{{ _('lastname') }}</label>
     <input name="lastname" id="lastname" value="{{ lastname }}" class="form-control" />
</div>
{% if isAllowed('people', 'viewContactInfo') %}
<div class="mb-3">
     <label  for="email" class="form-label">{{ _('email') }}</label>
     <input name="email" id="email" value="{{ email }}" class="form-control" />
</div>
{% endif %}
