{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Person person
 #}
<dl>
    <dt class="text-bold">{{ _('username') }}</dt><dd>{{ person.getUsername() }}</dd>
    <dt class="text-bold">{{ _('gender'  ) }}</dt><dd>{{ person.getGender()   }}</dd>
    <dt class="text-bold">{{ _('race'    ) }}</dt><dd>{{ person.getRace()     }}</dd>
    <dt class="text-bold">{{ _('website' ) }}</dt><dd><a href="{{ person.getWebsite()}}">{{ person.getWebsite() }}</a></dd>
    {% if isAllowed('people', 'viewContactInfo') %}
    <dt class="text-bold">{{ _('email')   }}</dt><dd>{{ person.getEmail()   }}</dd>
    <dt class="text-bold">{{ _('phone')   }}</dt><dd>{{ person.getPhone()   }}</dd>
    <dt class="text-bold">{{ _('address') }}</dt><dd>{{ person.getAddress() }}</dd>
    <dt class="text-bold">{{ _('city')    }}</dt><dd>{{ person.getCity()    }}</dd>
    <dt class="text-bold">{{ _('state')   }}</dt><dd>{{ person.getState()   }}</dd>
    <dt class="text-bold">{{ _('zip')     }}</dt><dd>{{ person.getZip()     }}</dd>
    {% endif %}
</dl>