{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Person person
 #}
{% if isAllowed('people', 'viewContactInfo') %}
<table class="usa-table usa-table--compact">
    <tr><th>{{ _('username') }}</th><td>{{ person.getUsername() }}</td></tr>
    <tr><th>{{ _('website' ) }}</th><td><a href="{{ person.getWebsite()}}">{{ person.getWebsite() }}</a></td></tr>
    <tr><th>{{ _('occupation') }}</th><td>{{ person.getOccupation() }}</td></tr>
    <tr><th>{{ _('address' ) }}</th><td>{{ person.getAddress()  }}</td></tr>
    <tr><th>{{ _('city'    ) }}</th><td>{{ person.getCity()     }}</td></tr>
    <tr><th>{{ _('state'   ) }}</th><td>{{ person.getState()    }}</td></tr>
    <tr><th>{{ _('zip'     ) }}</th><td>{{ person.getZip()      }}</td></tr>
    <tr><th>{{ _('citylimits') }}</th><td>{{ person.getCitylimits() }}</td></tr>
</table>
{% endif %}
