{#
 * @copyright 2024-2026 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Person person
 * @param string return_url
 #}
{% import 'html/macros/forms.twig' as forms %}
<table class="usa-table usa-table--compact">
    <tr><th>{{ _('username') }}</th><td>{{ person.username }}</td></tr>
    <tr><th>{{ _('website' ) }}</th><td><a href="{{ person.website }}">{{ person.website }}</a></td></tr>
    <tr><th>{{ _('occupation') }}</th><td>{{ person.occupation }}</td></tr>
</table>

{% if person.username %}
    {% if isAllowed('users', 'update') %}
    {{ forms.actionLink(uri('users.update', { person_id: person.id }), _('edit_account'), 'edit') }}
    {% endif %}
    {% if isAllowed('users', 'delete') %}
    {{ forms.actionLink(uri('users.delete', { person_id: person.id }), _('delete_account'), 'delete') }}
    {% endif %}
{% endif %}

{% if not person.username and isAllowed('users', 'update') %}
    {{ forms.actionLink(uri('users.update', { person_id: person.id } ), _('create_account'), 'add') }}
{% endif %}
