{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Person person
 #}
<table>
    <tr><th>{{ _('username') }}</th><td>{{ person.getUsername() }}</td></tr>
    <tr><th>{{ _('gender'  ) }}</th><td>{{ person.getGender()   }}</td></tr>
    <tr><th>{{ _('race'    ) }}</th><td>{{ person.getRace()     }}</td></tr>
    <tr><th>{{ _('website' ) }}</th>
        <td><a href="{{ person.getWebsite()}}">{{ person.getWebsite() }}</a></td>
    </tr>
    {% if isAllowed('people', 'viewContactInfo') %}
    <tr><th>{{ _('email')   }}</th><td>{{ person.getEmail()   }}</td></tr>
    <tr><th>{{ _('phone')   }}</th><td>{{ person.getPhone()   }}</td></tr>
    <tr><th>{{ _('address') }}</th><td>{{ person.getAddress() }}</td></tr>
    <tr><th>{{ _('city')    }}</th><td>{{ person.getCity()    }}</td></tr>
    <tr><th>{{ _('state')   }}</th><td>{{ person.getState()   }}</td></tr>
    <tr><th>{{ _('zip')     }}</th><td>{{ person.getZip()     }}</td></tr>
    {% endif %}
</table>
