{#
 * @copyright 2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Phone  phone
 * @param string return_url
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section class="grid-container">
    <header><h1>{{ phone.getPerson().getFullname() }}</h1></header>

    {% if isAllowed('people', 'viewContactInfo') %}
    {{ include('html/people/partials/info.twig', { person: phone.getPerson() }) }}
    {% endif %}

    <form           class="usa-form" method="post">
        <fieldset   class="usa-fieldset">
            <legend class="usa-legend">{{ phone.getId() ? _('phone_edit') : _('phone_add') }}</legend>

            {{ forms.field_phone('number', 'number', _('phone'), phone.getNumber() ) }}
            {{ forms.field_bool('main',    'main',   _('main' ), phone.getMain()   ) }}

            {{ forms.button('submit', _('save'), 'save') }}
            {{ forms.actionLink(return_url, _('cancel'), 'cancel' ) }}
        </fieldset>
    </form>
</section>
{% endblock %}
