{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Status status
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section class="grid-container">
    <header><h1>{{ status.getId() ? _('legislationStatus_edit') : _('legislationStatus_add') }}</h1></header>

    <form         class="usa-form" method="post">
        <fieldset class="usa-fieldset">
            {{ forms.field_text('name', 'name', _('name'), status.getName(), true ) }}
            {{ forms.field_bool('active', 'active', _('active'), status.getActive() ) }}

            {{ forms.button('submit', _('save'), 'save') }}
            {{ forms.actionLink(uri('legislationStatuses.index'), _('cancel'), 'cancel') }}
        </fieldset>
    </form>
</section>
{% endblock %}
