{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param Member    newMember
 *
 * Optional Parameters
 * @param Member    currentMember
 * @param string    requirements
 * @param array     recentMembers
 * @param array     termOptions     Array of term objects
 #}
{% import  "html/macros/forms.twig"         as forms   %}
{% extends "html/layouts/committee.twig" %}
{% block content %}
<form class="usa-form usa-form--large" method="post">

    {% if currentMember %}
    <fieldset class="usa-fieldset margin-bottom-3">
        <legend class="usa-legend usa-legend--large">{{ _('retirePrevious') }}</legend>

        <input name="currentMember[member_id]" type="hidden" value="{{ currentMember.getId() }}" />

        {{ forms.field_date('currentMember-endDate', 'currentMember[endDate]', _('endDate'),
                            currentMember.getTerm() ? currentMember.getTerm().getEndDate('Y-m-d') : 'now'|date('Y-m-d'),
                            true, {},
                            _('endServiceHelpText', 'messages')|format(currentMember.getPerson().getFullname(), currentMember.getPerson().getFullname())|raw)
        }}

    </fieldset>
    {% endif %}

    <fieldset class="usa-fieldset margin-bottom-3">
        <legend class="usa-legend usa-legend--large">{{ _('new_member') }}</legend>
        <input name="newMember[committee_id]" type="hidden" value="{{ newMember.getCommittee_id() }}" />
        <input name="newMember[seat_id]"      type="hidden" value="{{ newMember.getSeat_id()      }}" />

        <p>{{ _('appointToSeat', 'messages')|format(newMember.getCommittee().getName()) }}</p>

        {% if requirements %}
        <h2>{{ _(['requirement', 'requirements', 10]) }}</h2>
        <div>{{ requirements | markdown_to_html }}</div>
        {% endif %}

        <section>
            <h2>{{ _('new_member') }}</h2>
            {{ forms.field_person('newMember-person_id', 'newMember[person_id]', _('person'), newMember.getPerson(), true ) }}

            {% if termOptions %}
            {{ forms.field_select('newMember-term_id', 'newMember[term_id]', _('term'), newMember.getTerm_id(), termOptions, true  ) }}
            {% endif %}

            {{ forms.field_date('newMember-startDate', 'newMember[startDate]', _('startDate'),
                                newMember.getStartDate() ? newMember.getStartDate('Y-m-d') : 'now'|date('Y-m-d'),
                                true)
            }}
        </section>

        {{ forms.button('submit', _('save'), 'save') }}
        {{ forms.actionLink(uri('committees.members', {id: newMember.getCommittee_id()}), _('cancel') ) }}
    </fieldset>

</form>

{% if recentMembers %}
<section>
    <header><h3>{{ _(['recent_member', 'recent_members', 10]) }}</h3></header>
    <table class="usa-table usa-table--borderless">
        <thead>
            <tr>
                <th>{{ _('name') }}</th>
                <th>{{ _('startDate') }}</th>
                <th>{{ _('endDate') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for t in recentMembers %}
        <tr>
        <td>{{ t.members }}</td>
         <td class="font-mono-3xs">{{ t.startDate|date('m/d/Y') }}</td>
         <td class="font-mono-3xs">{{ t.endDate|date('m/d/Y') }}</td>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}

<script type="text/javascript" src="{{ BASE_URI }}/js/people/chooser-{{ VERSION }}.js"></script>
{% endblock %}
