{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Member    member
 * @param Seat      seat
 * @param Term      term
 * @param Committee committee
 * @param array     recentMembers
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig"         as forms   %}
{% block content %}
<section>
    <header>
        <h2>{{ _('reappointToSeat', 'messages')|format(member.getPerson().getFullName(), committee.getName()) }}</h2>
    </header>
    <div>
        <section>
            <dl><dt>{{ _('seat') }}</dt>
                <dd>{{ seat.getName() }}</dd>

                <dt>{{ _('appointed_by') }}</dt>
                <dd>{{ seat.getAppointer() }}</dd>

                <dt>{{ _('term') }}</dt>
                <dd>{{ term.getStartDate(DATE_FORMAT) }} - {{ term.getEndDate(DATE_FORMAT) }}</dd>
            </dl>
        </section>

        <form         class="usa-form" method="post">
            <fieldset class="usa-fieldset">
                <input name="confirm"   type="hidden" value="yes" />

                {{ forms.button('submit', _('save'), 'save') }}
                {{ forms.actionLink(uri('committees.members', {id: member.getCommittee_id()}), _('cancel'), 'cancel') }}
            </fieldset>
        </form>
    </div>
</section>

{% if recentMembers %}
<section>
    <header><h3>{{ _(['recent_member', 'recent_members', 10]) }}</h3></header>
    {% for t in recentMembers %}
    <div>{{ t.members }} {{ t.startDate }} - {{ t.endDate }}<div>
    {% endfor %}
</section>
{% endif %}

{% endblock %}
