{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Member    member
 * @param Committee committee
 * @param string    return_url
 #}
{% import 'html/macros/personChooser.twig' as chooser %}

{% extends "html/layouts/default.twig" %}
{% block content %}
{{ include('html/committees/breadcrumbs.twig') }}

<section>
    <header><h2>{{ member.getId() ? _('member_edit') : _('member_add') }}</h2></header>
	<form method="post">
        <fieldset>
            <input name="member_id"    type="hidden" value="{{ member.getId()            }}" />
            <input name="committee_id" type="hidden" value="{{ member.getCommittee_id()  }}" />
            <input name="term_id"      type="hidden" value="{{ member.getTerm_id() ?? '' }}" />
            <input name="seat_id"      type="hidden" value="{{ member.getSeat_id() ?? '' }}" />

            <div class="form-group">
                <label  for="startDate">{{ _('startDate') }}</label>
                <input name="startDate" class="form-control"
                        id="startDate" type="date" required="true"
                    value="{{ member.getStartDate('Y-m-d') }}" />
            </div>
            <div class="form-group">
                <label  for="endDate">{{ _('endDate') }}</label>
                <input name="endDate" class="form-control"
                        id="endDate" type="date"
                    value="{{ member.getEndDate() ? member.getEndDate('Y-m-d') : '' }}" />
            </div>
            <div clas="form-group">
                <input type="hidden" name="person_id" id="person_id" value="{{ person.getId() }}" />
                {{ chooser.personChooser('person_id', 'person_id', person) }}
            </div>

            <button type="submit" class="btn btn-success">{{ _('save') }}</button>
            <a class="btn btn-danger" href="{{ return_url }}">{{ _('cancel') }}</a>
        </fieldset>
	</form>
</section>
<script type="text/javascript" src="{{ BASE_URI }}/js/people/chooser-{{ VERSION }}.js"></script>

{% if member.getSeat_id() %}
{{ include('html/seats/partials/summary.twig', {seat: member.getSeat() }, with_context='false') }}
{{ include('html/members/partials/list.twig', {members: member.getSeat().getMembers() }, with_context='false') }}
{% endif %}

{% endblock %}
