{#
 * @copyright 2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Person person
 * @param array  addresses
 * @param string return_url
 #}
{% import 'html/macros/forms.twig' as forms %}
<section>
    <header><h2>{{ _(['address', 'addresses', 2]) }}</h2></header>
    {% if isAllowed('people.addresses', 'add') %}
        {% set url = uri('people.addresses.add', { person_id: person.id }) ~ '?return_url=' ~ return_url %}
        {% set home    = false %}
        {% set mailing = false %}
        {% for a in addresses %}
            {% if a.type=='Home' %}{% set home    = true %}
            {% else %}             {% set mailing = true %}
            {% endif %}
        {% endfor %}

        {% if not home    %}{{ forms.actionLink(url ~ ';type=Home',    'Home Address',    'add') }}{% endif %}
        {% if not mailing %}{{ forms.actionLink(url ~ ';type=Mailing', 'Mailing Address', 'add') }}{% endif %}
    {% endif %}

    <table>
    {% for a in addresses %}
    <tr><td>{{ a.address }} {{ a.city }} {{ a.state }} {{ a.zip }}</td>
        <td><span class="usa-tag">{{ a.type }}</span></td>
        <td>{% if a.actionLinks %}
            {{ include('html/partials/actionLinks.twig', { actionLinks: a.actionLinks} ) }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
</section>
