{#
 * @copyright 2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Address  address
 * @param string   return_url
 * @param array    states
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <header><h1>{{ address.person.fullname }}</h1></header>
    {% if isAllowed('people', 'viewContactInfo') %}
    {{ include('html/people/partials/info.twig', { person: address.person }) }}
    {% endif %}

    <h2>Mailing Address</h2>

    <form           class="usa-form" method="post">
        <fieldset   class="usa-fieldset">
            <legend class="usa-legend">Mailing Address</legend>
            {{ include('html/people/addresses/partials/addressFields.twig') }}

            {{ forms.button('submit', _('save'), 'save') }}
            {{ forms.actionLink(return_url, _('cancel'), 'cancel' ) }}
        </fieldset>
    </form>
</section>
{% endblock %}
