{#
 * @copyright 2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Definition definition
 * @param array      actionLinks
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section class="grid-container">
    <header>
        <h1>{{ _(definition.getEvent()) }}</h1>
        {% if definition.getCommittee() %}<h2>{{ definition.getCommittee().getName() }}</h2>{% endif %}
    </header>
    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}

    <h3>{{ definition.getSubject() }}</h3>
    <div>{{ definition.getBody() }}</div>
</section>
{% endblock %}
