{#
 * @copyright 2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array definitions
 * @param array actionLinks
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section class="grid-container">
    <header><h1>{{ _(['notification_definition', 'notification_definitions', 10]) }}</h1></header>
    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}

    <table>
    {% for d in definitions %}
    <tr><td><a href="{{ uri('notifications.definitions.info', { definition_id: d.getId() }) }}">
                {{ d.getEvent() }}
            </a>
        </td>
        <td>{% if d.getCommittee() %}{{ d.getCommittee().getName() }}{% endif %}</td>
    </tr>
    {% endfor %}
    </table>
</section>
{% endblock %}
