{#
 * @copyright 2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Definition definition
 * @param array      events
 * @param array      committees
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section class="grid-container">
    <header>
        <h1>{{ definition.getId() ? _('notification_definition_edit') : _('notification_definition_add') }}</h1>
    </header>

    <form class="usa-form" method="post">
        <fieldset class="usa-fieldset">
            {{ forms.field_select(   'event',     'event',        _('event'),     definition.getEvent(), events, true ) }}
            {{ forms.field_select('committee_id', 'committee_id', _('committee'), definition.getCommittee_id(), committees ) }}
            {{ forms.field_text  ('subject',      'subject',      _('subject'),   definition.getSubject(), true ) }}
            {{ forms.field_textarea( 'body',      'body',         _('body'),      definition.getBody(),    true ) }}

            {{ forms.button('submit', _('save'), 'save') }}
            {{ forms.actionLink(return_url, _('cancel') ) }}
        </fieldset>
    </form>
</section>
{% endblock %}
