{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array     search            Search parameters requested
 * @param array     legislation       Search results
 * @param Committee committee
 *
 * Search Form Metadata
 * @param array  committees
 * @param array  years
 * @param array  statuses
 * @param array  types
 * @param array  actionLinks
 *
 * Pagination parameters
 * @param int    total
 * @param int    itemsPerPage
 * @param int    currentPage
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}
{% import  "html/macros/forms.twig"      as forms      %}
{% block content %}
<section>
    <h2>{{ _('legislation') }}</h2>
    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}
    <form method="get" class="usa-form">
        <fieldset      class="usa-fieldset">
            <input name="committee_id" type="hidden" value="{{ committee.id }}" />
            {{ forms.field_combo ('year',      'year',      _('year'),              search.year      ?? '', years ) }}
            {{ forms.field_select('status_id', 'status_id', _('legislationStatus'), search.status_id ?? '', statuses, false, {onchange:'this.form.submit();'} ) }}
            {{ forms.field_select('type_id',   'type_id',   _('type'),              search.type_id   ?? '', types,    false, {onchange:'this.form.submit();'} ) }}
            {{ forms.field_text  ('number',    'number',    _('number'),            search.number    ?? '') }}

            {{ forms.button('submit', _('search'), 'search') }}
        </fieldset>
    </form>

    {{ include('html/legislation/partials/list.twig') }}


    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(search, total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
