{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array legislation
 * @param Committee committee
 *
 * Search Form
 * @param int    year
 * @param int    status_id
 * @param int    type_id
 * @param string number
 * @param array  committees
 * @param array  years
 * @param array  statuses
 * @param array  types
 * @param array  actionLinks
 *
 * Pagination parameters
 * @param int       total
 * @param int       itemsPerPage
 * @param int       currentPage
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}
{% import  "html/macros/forms.twig"      as forms      %}
{% block content %}
<section>
    <form method="get" class="usa-form">
        <fieldset      class="usa-fieldset">
            <legend    class="usa-legend usa-legend--large">{{ _('legislation') }}</legend>
            <input name="committee_id" type="hidden" value="{{ committee.id }}" />
            {{ forms.field_combo ('year',      'year',      _('year'),              year,      years ) }}
            {{ forms.field_select('status_id', 'status_id', _('legislationStatus'), status_id, statuses, false, {onchange:'this.form.submit();'} ) }}
            {{ forms.field_select('type_id',   'type_id',   _('type'),              type_id,   types,    false, {onchange:'this.form.submit();'} ) }}
            {{ forms.field_text  ('number',    'number',    _('number'),            number ) }}

            {{ forms.button('submit', _('search'), 'search') }}
        </fieldset>
    </form>

    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}

    {{ include('html/legislation/partials/list.twig') }}


    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
