{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Legislation legislation
 * @param Committee   committee
 * @param array       actionLinks
 *
 * @param array  legislationActions
 * @param array  legislationActionLinks
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <header>
        {% if legislation.getParent_id() %}
        {% set parent=legislation.getParent() %}
        <h2><a href="{{ uri('legislation.view', { legislation_id: legislation.getParent_id(), committee_id: committee.getId() }) }}">
            {{ parent.getYear() }} {{ parent.getType() }} {{ parent.getNumber() }}
            </a>
        </h2>
        <h2>{{ parent.getTitle() }}</h2>
        {% endif %}

        <h2>{{ legislation.getYear() }} {{ legislation.getType() }} {{ legislation.getNumber() }} {{ legislation.getStatus() }}</h3>
        <h2>{{ legislation.getTitle() }}</h2>
    </header>
    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}


    <div>{{ legislation.getSynopsis() ? legislation.getSynopsis()|markdown_to_html : '' }}</div>

    <table>
    <tr><th>{{ _('amendsCode') }}</th>
        <td>{{ legislation.getAmendsCode() ? _('yes') : _('no') }}</td>
    </tr>
    </table>

    {% set files = legislation.getFiles() %}
    {% if  files|length>0 %}
    <ul>{% for f in files %}
        <li><a href="{{ uri('legislationFiles.download', { legislationFile_id: f.getId()} ) }}">{{ f.getFilename() }}</a>
            {% if isAllowed('legislationFiles', 'update') %}
            {{ forms.actionLink(uri('legislationFiles.update', { legislationFile_id: f.getId()} ), _('legislationFile_edit'), 'edit' ) }}
            {% endif %}
            {% if isAllowed('legislationFiles', 'delete') %}
            {{ forms.actionLink(uri('legislationFiles.delete', { legislationFile_id: f.getId()} ), _('legislationFile_delete'), 'delete' ) }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        {% if isAllowed('legislationFiles', 'add') %}
        {{ forms.actionLink(uri('legislationFiles.add') ~ '?legislation_id=' ~ legislation.getId(), _('legislationFile_add'), 'add' ) }}
        {% endif %}
    {% endif %}

    {% if legislationActionLinks %}
    {{ include('html/partials/actionLinks.twig', {actionLinks:legislationActionLinks}, with_context=false) }}
    {% endif %}
    <table>
    {% for type, actions in legislationActions %}
        {% for a in actions %}
        <tr><th>{{ type      }}</th>
            <td>{{ a.date    }}</td>
            <td>{{ a.outcome }}</td>
            <td>{{ a.vote    }}</td>
            <td>{{ include('html/partials/actionLinks.twig', {actionLinks:a.actionLinks}, with_context=false) }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>

    {% if childLinks %}
    {{ include('html/partials/actionLinks.twig', {actionLinks:childLinks}, with_context=false) }}
    {% endif %}
    {% set children = legislation.getChildren() %}
    {% if children %}
    {{ include('html/legislation/partials/list.twig', {legislation:children}, with_context=false) }}
    {% endif %}

</section>

{% endblock %}
