{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param LegislationFile file
 * param  Committee       committee
 * @param string          return_url
 *
 * @param string accept     Comma separated mime_types that are accepted
 * @param int    maxBytes   Max upload size in bytes
 * @param string maxSize    Max upload size, human readable
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <header><h2>{{ file.getLegislation().getTitle() }}</h2></header>
    <form method="post" class="usa-form" enctype="multipart/form-data" >
        <fieldset       class="usa-fieldset">
            <legend     class="usa-legend">{{ file.getId() ? _('legislationFile_edit') : _('legislationFile_add') }}</legend>
            <input type="hidden" name="legislation_id" value="{{ file.getLegislation_id() }}" />

            {% if file.getFilename() -%}
            <div><a href="{{ uri('legislationFiles.download', {'id':file.getId()}) }}">{{ file.getFilename() }}</a></div>
            {%- endif %}
            {{ forms.field_file('legislationFile', 'legislationFile', _('legislationFile'), file,
                                accept, maxSize, maxBytes, false, {},
                                accept ~ ' - ' ~ maxSize) }}

            {{ forms.button('submit', _('save'), 'save') }}
            {{ forms.actionLink(url('legislation.view', { legislation_id: file.getLegislation_id(), committee_id: file.getLegislation().getCommittee_id() }),
                                _('cancel'), 'cancel') }}
        </fieldset>
    </form>

</section>
{% endblock %}
