{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Seat      seat
 * @param Committee committee
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig"         as forms   %}
{% block content %}
<section>
    <header><h2>{{ _('seat_edit') }}</h2></header>

    <form method="post">
        {{ include('html/seats/partials/formFields.twig') }}

        <fieldset>
            <input name="committee_id" type="hidden" value="{{ seat.getCommittee_id() }}" />

            {{ forms.button('submit', _('save'), 'save') }}
            {{ forms.actionLink(uri('committees.members', {id: seat.getCommittee_id()}), _('cancel'), 'cancel') }}
        </fieldset>
    </form>
</section>
{% endblock %}
