{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array data
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
{{ include('html/committees/breadcrumbs.twig') }}
<section>
    <header><h2>{{ _('seat_edit') }}</h2></header>

    <form method="post">
        {{ include('html/seats/partials/formFields.twig') }}

        <fieldset>
            <input name="committee_id" type="hidden" value="{{ seat.getCommittee_id() }}" />
            <button type="submit" class="btn btn-success">{{ _('save') }}</button>
            <a class="btn btn-danger"
                href="{{ uri('committees.members') }}?committee_id={{ seat.getCommittee_id() }}">
               {{ _('cancel') }}
            </a>
        </fieldset>
    </form>
</section>
{% endblock %}
