{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array data
 * @param array actionLinks
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>
    <header>
        <h2>{{ _(['seat', 'seats', 10]) }}</h2>
    </header>
    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}
    <table>
        <thead>
            <tr><th>{{ _('committee'   ) }}</th>
                <th>{{ _('seat'        ) }}</th>
                <th>{{ _('seat_term'   ) }}</th>
                <th>{{ _('appointed_by') }}</th>
                <th>{{ _('name'        ) }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for row in data %}
        <tr><td>{{ row.committee_name }}</td>
            <td>{{ row.seat_name }}</td>
            <td>{{ row.term_startDate }} - {{ row.term_endDate }}</td>
            <td>{{ row.appointer_name }}{{ row.seat_voting ? ' (Voting)' : '' }}</td>
            <td>{{ row.member_firstname }} {{ row.member_lastname }}
                {{ row.offices }}
                {{ row.alternate_firstname }} {{ row.alternate_lastname }}
            </td>
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
