{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Seat      seat          Seat Object
 * @param Committee committee     Committee Object
 * @param array     terms         Raw term data
 * @param array     seatActions   Links to actions for the seat
 * @param array     termActions   Links to actions for the seat's terms
 *
 * Metadata
 * @param array termIntervals  Human readable termIntervals lookup
 * @param array termModifiers  Human readable termModifiers lookup
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section class="grid-container">
    <header>
        <h2>{{ seat.name }}</h2>
    </header>
    {% if seatActions is defined %}
    {{ include('html/partials/actionLinks.twig', {actionLinks: seatActions}, with_context=false) }}
    {% endif %}

    {{ include('html/seats/partials/seat_info.twig') }}

    {% if seat.getType() == 'termed' %}
    <section>
        <header><h3>{{ _(['term', 'terms', 10]) }}</h3></header>

        {% if termActions %}
        {{ include('html/partials/actionLinks.twig', {actionLinks: termActions}, with_context=false) }}
        {% endif %}
        <ul class="add-list-reset grid-row margin-y-3">
            {% for t in terms %}
            <li class="grid-col-12">
                <div class="hover:bg-base-lightest border-1px border-base-lightest radius-md padding-x-1 padding-bottom-1">
                    <div class="grid-row flex-row">
                        <div class="grid-col flex-1 display-flex flex-align-center">
                            <h3>{{ t.startDate|date(DATE_FORMAT) }} - {{ t.endDate|date(DATE_FORMAT) }}</h3>
                        </div>
                    </div>
                    <div class="flex-row margin-bottom-1">
                        {% set label = _(['member', 'members', 10]) %}
                        {% for m in t.members %}
                        <div class="grid-row margin-bottom-1">
                            <div class="grid-col"><strong>{{ label      }}:</strong> <a class="usa-link" href="{{ uri('members.view', { member_id: m.member_id }) }}">{{ m.name }}</a></div>
                            <div class="grid-col"><strong>{{ _('start') }}:</strong> {{ m.startDate|date(DATE_FORMAT) }}</div>
                            <div class="grid-col"><strong>{{ _('end'  ) }}:</strong> {{ m.endDate ? m.endDate|date(DATE_FORMAT) : '' }}</div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="grid-row margin-bottom-1">
                        {% set label = _(['alternate', 'alternates', 10]) %}
                        {% for a in t.alternates %}
                            <div class="grid-col"><strong>{{ label }}:</strong> <a class="usa-link" href="{{ uri('alternates.view', { alternate_id: a.alternate_id }) }}">{{ a.name }}</a></div>
                            <div class="grid-col"><strong>{{ _('start') }}:</strong> {{ a.startDate|date(DATE_FORMAT) }}</div>
                            <div class="grid-col"><strong>{{ _('end'  ) }}:</strong> {{ a.endDate ? a.endDate|date(DATE_FORMAT) : '' }}</div>
                        {% endfor %}
                    </div>
                    <div class="grid-row flex-1 margin-top-2">
                        <div class="grid-col">
                        {% if t.actionLinks %}{{ include('html/partials/actionLinks.twig', {actionLinks: t.actionLinks}, with_context=false) }}{% endif %}
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>

    {% elseif members is defined %}
    <section>
        <header><h3>{{ _(['member', 'members', 10]) }}</h3>
        <table class="usa-table">
        {% for m in members %}
        <tr><td>{{ m.name }}</td>
            <td>{{ m.startDate|date(DATE_FORMAT) }} - {{ m.endDate ? m.endDate|date(DATE_FORMAT) : '' }}</td>
            {% if m.actionLinks %}<td>{{ include('html/partials/moreLinks.twig', {actionLinks: m.actionLinks}, with_context=false) }}</td>{% endif %}
        </tr>
        {% endfor %}
        </table>
        {% if memberActions is defined %}
        {{ include('html/partials/actionLinks.twig', {actionLinks: memberActions}, with_context=false) }}
        {% endif %}
    {% endif %}
    </section>

</section>
{% endblock %}
