{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Seat      seat          Seat Object
 * @param Committee committee     Committee Object
 * @param array     terms         Raw term data
 * @param array     seatActions   Links to actions for the seat
 * @param array     termActions   Links to actions for the seat's terms
 *
 * Metadata
 * @param array termIntervals  Human readable termIntervals lookup
 * @param array termModifiers  Human readable termModifiers lookup
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section class="grid-container">
    <header>
        <h1>{{ seat.name }}</h1>
    </header>
    {% if seatActions is defined %}
    {{ include('html/partials/actionLinks.twig', {actionLinks: seatActions}, with_context=false) }}
    {% endif %}

    {{ include('html/seats/partials/seat_info.twig') }}

    {% if seat.getType() == 'termed' %}
    <section>
        <header><h2>{{ _(['term', 'terms', 10]) }}</h2></header>
        {% if termActions %}
        {{ include('html/partials/actionLinks.twig', {actionLinks: termActions}, with_context=false) }}
        {% endif %}
        <table class="usa-table">
            <thead>
                <tr><th>{{ _('term') }}</th>
                    <th>{{ _(['member', 'members', 10]) }}</th>
                    <th>{{ _(['alternate', 'alternates', 10]) }}</th></tr>
            </thead>
            <tbody>
                {% for t in terms %}
                <tr><td>{{ t.startDate|date('m/d/Y') }} - {{ t.endDate|date('m/d/Y') }}
                        {% if t.actionLinks %}{{ include('html/partials/moreLinks.twig', {actionLinks: t.actionLinks}, with_context=false) }}{% endif %}
                    </td>
                    <td><table>
                        {% for m in t.members %}
                        <tr><th><a href="{{ uri('members.view', {'id':m.member_id}) }}">{{ m.name }}</a></th>
                            <td>{{ m.startDate|date('m/d/Y') }} - {{ m.endDate ? m.endDate|date('m/d/Y') : '' }}</td>
                            <td>{% if m.actionLinks %}{{ include('html/partials/moreLinks.twig', {actionLinks: m.actionLinks}, with_context=false) }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                        </table>
                    </td>
                    <td><table>
                        {% for a in t.alternates %}
                        <tr><th><a href="{{ uri('alternates.view', {'id':a.alternate_id}) }}">{{ a.name }}</a></th>
                            <td>{{ a.startDate|date('m/d/Y') }} - {{ a.endDate|date('m/d/Y') }}</td>
                            <td>{% if a.actionLinks %}{{ include('html/partials/moreLinks.twig', {actionLinks: a.actionLinks}, with_context=false) }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                        </table>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% elseif members is defined %}
    <section>
        <header><h3>{{ _(['member', 'members', 10]) }}</h3>
        <table class="usa-table">
        {% for m in members %}
        <tr><td>{{ m.name }}</td>
            <td>{{ m.startDate|date('m/d/Y') }} - {{ m.endDate ? m.endDate|date('m/d/Y') : '' }}</td>
            <td>{% if m.actionLinks %}{{ include('html/partials/moreLinks.twig', {actionLinks: m.actionLinks}, with_context=false) }}{% endif %}</td>
        </tr>
        {% endfor %}
        </table>
        {% if memberActions is defined %}
        {{ include('html/partials/actionLinks.twig', {actionLinks: memberActions}, with_context=false) }}
        {% endif %}
    {% endif %}
    </section>

</section>
{% endblock %}
