{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Seat      seat          Seat Object
 * @param Committee committee     Committee Object
 * @param array     terms         Raw term data
 * @param array     seatActions   Links to actions for the seat
 * @param array     termActions   Links to actions for the seat's terms
 *
 * Metadata
 * @param array termIntervals  Human readable termIntervals lookup
 * @param array termModifiers  Human readable termModifiers lookup
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
{{ include('html/committees/breadcrumbs.twig') }}
<section>
    <header>
        <h2>{{ seat.name }}</h2>
    </header>
    {% if seatActions is defined %}
    {{ include('html/partials/actionLinks.twig', {actionLinks: seatActions}, with_context=false) }}
    {% endif %}

    <table class="table">
        <tr><th>{{ _('type') }}</th>
            <td>{{ _(seat.getType()) }}</td>
        </tr>
        <tr><th>{{ _('code') }}</th>
            <td>{{ seat.getCode() }}</td>
        </tr>
		<tr><th>{{ _('appointed_by') }}</th>
			<td>{{ seat.getAppointer() }}</td>
		</tr>
		<tr><th>{{ _('committee') }}</th>
			<td><a href="{{ uri('committees.info') }}?committee_id={{ committee.getId() }}">
                    {{ committee.getName() }}
                </a>
            </td>
		</tr>
		{% if seat.getStartDate() %}
        <tr><th>{{ _('startDate') }}</th>
			<td>{{ seat.getStartDate(DATE_FORMAT) }}</td>
		</tr>
		{% endif %}
		{% if seat.getEndDate() %}
		<tr><th>{{ _('endDate') }}</th>
			<td>{{ seat.getEndDate(DATE_FORMAT) }}</td>
		</tr>
		{% endif %}

		{% if seat.getRequirements() %}
		<tr><th>{{ _(['requirement', 'requirements', 10]) }}</th>
			<td>{{ seat.getRequirements() }}</td>
		</tr>
		{% endif %}

		{% if seat.getType() == 'termed' %}
        <tr><th>{{ _('termLength'  ) }}</th><td>{{ termIntervals[seat.getTermLength()] }}</td></tr>
        <tr><th>{{ _('termModifier') }}</th><td>{{ seat.getTermModifier() ? termModifiers[seat.getTermModifier()] : '' }}</td></tr>
		{% endif %}

        <tr><th>{{ _('voting') }}</th>
            <td>{{ seat.isVoting() ? _('yes') : _('no') }}</td>
        </tr>
        <tr><th>{{ _('takesApplications') }}</th>
            <td>{{ seat.takesApplications() ? _('yes') : _('no') }}</td>
        </tr>
    </table>

    {% if seat.getType() == 'termed' %}
        {{ include('html/terms/list.twig', {terms: terms, actionLinks: termActions}, with_context=false) }}
    {% else %}
        <table>
        {% for m in members %}
        <tr><td>{{ m.name }}</td>
            <td>{{ m.startDate|date('m/d/Y') }} - {{ m.endDate|date('m/d/Y') }}</td>
            <td>{% if m.actionLinks %}{{ include('html/partials/moreLinks.twig', {actionLinks: m.actionLinks}, with_context=false) }}{% endif %}</td>
        </tr>
        {% endfor %}
        </table>
        {% if memberActions is defined %}
        {{ include('html/partials/actionLinks.twig', {actionLinks: memberActions}, with_context=false) }}
        {% endif %}
    {% endif %}

</section>

{% endblock %}
