{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Seat      seat          Seat Object
 * @param Committee committee     Committee Object
 *
 * Dropdown Options
 * @param array appointers
 * @param array types
 * @param array termIntervals
 * @param array termModifiers
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
{{ include('html/committees/breadcrumbs.twig') }}
<section>
    <header><h2>{{ _('seat_edit') }}</h2></header>

    <form method="post">
        {{ include('html/seats/partials/formFields.twig') }}

        <fieldset>
            <input name="seat_id" type="hidden" value="{{ seat.getId() }}" />
            <button type="submit" class="btn btn-success">{{ _('save') }}</button>
            <a class="btn btn-danger"
                href="{{ uri('seats.view') }}?seat_id={{ seat.getId() }}">
               {{ _('cancel') }}
            </a>
        </fieldset>
    </form>
</section>
{{ include('html/seats/partials/summary.twig') }}
{% endblock %}
