{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Seat      seat          Seat Object
 * @param Committee committee     Committee Object
 *
 * Dropdown Options
 * @param array appointers
 * @param array types
 * @param array termIntervals
 * @param array termModifiers
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <header><h2>{{ _('seat_edit') }}</h2></header>

    <form class="usa-form usa-form--large" method="post">
        {{ include('html/seats/partials/formFields.twig') }}
        <fieldset class="usa-fieldset margin-bottom-3">
            <input name="committee_id" type="hidden" value="{{ committee.getId() }}" />

            {{ forms.button('submit', _('save'), 'save') }}
            {% if seat.getId() %}
            {{ forms.actionLink(uri('seats.view', { seat_id: seat.getId() }), _('cancel'), ) }}
            {% else %}
            {{ forms.actionLink(uri('committees.seats', { committee_id: committee.getId()}), _('cancel') ) }}
            {% endif %}
        </fieldset>
    </form>

    {{ include('html/seats/partials/summary.twig') }}
</section>
{% endblock %}
