{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array data
 * @param array actionLinks
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section class="grid-container">
    <header>
        <h1>{{ _(['seat', 'seats', 10]) }}</h1>
        {{ include('html/seats/partials/header.twig') }}
    </header>

    <h2>{{ _(['vacancy', 'vacancies', 10]) }}</h2>
    {% if actionLinks is defined %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}

    {{ include('html/seats/partials/table.twig') }}
</section>
{% endblock %}
