{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array data
 * @param array actionLinks
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section class="grid-container">
    <header>
        <h1>{{ _(['seat', 'seats', 10]) }}</h1>
        {{ include('html/seats/partials/header.twig') }}
    </header>
    <div class="d-flex">
        <h2 class="me-3">{{ _(['vacancy', 'vacancies', 10]) }}</h2>
        {% if actionLinks is defined %}
        {{ include('html/partials/actionLinks.twig') }}
        {% endif %}
    </div>
    {{ include('html/seats/partials/table.twig') }}
</section>
{% endblock %}
