{#
 * @copyright 2017-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array  search    The search parameters the user requested
 * @param array  people    Array of people search results
 * @param int    total
 * @param int    itemsPerPage
 * @param int    currentPage
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <header>
        <h1>{{ _(['person', 'people', 100]) }}</h1>
    </header>
    <form class="usa-form">
        <fieldset class="usa-fieldset">
            <legend class="usa-legend usa-legend--large">{{ _('find_person') }}</legend>
            {{ include('html/people/partials/findFields.twig') }}

            {{ forms.button('submit', _('search'), 'search') }}
        </fieldset>
    </form>
    {% if search.firstname is defined or search.lastname is defined or search.email is defined %}
        {% if not people %}
        <div>{{ _('no_results', 'messages')|format(_(['person', 'people', 10])) }}</div>
        {% endif %}
    {% endif %}

    {% if people %}
    <table class="usa-table usa-table--borderless">
    <thead>
    <tr><th scope="col">{{ _('name') }}</th>
        {% if isAllowed('people', 'viewContactInfo') %}
        <th scope="col">{{ _('email') }}</th>
        <th scope="col">{{ _('phone') }}</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for p in people %}
    <tr><td><a class="usa-link" href="{{ uri('people.view', { person_id: p.id }) }}">
                {{ p.fullname }}
            </a>
        </td>
        {% if isAllowed('people', 'viewContactInfo') %}
        <td>{{ p.email }}</td>
        <td>{{ p.phone }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
    </table>

    {% if isAllowed('people', 'add') %}
    <a class="usa-button" href="{{ uri('people.add') }}"> {{ _('person_add') }}</a>
    {% endif %}
    {% endif %}

    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(REQUEST.uri.path, search, total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
