{#
 * @copyright 2017-2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param string firstname
 * @param string lastname
 * @param string email
 * @param array  people         Array of people search results
 * @param int    total
 * @param int    itemsPerPage
 * @param int    currentPage
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}
{% block content %}
<section class="container">
    <header>
        <h1>{{ _(['person', 'people', 100]) }}</h1>
    </header>
    <form method="get">
        <fieldset>
            <legend>Search Members By Name</legend>
            {{ include('html/people/partials/findFields.twig') }}

            <button type="submit" class="btn btn-primary">{{ _('search') }}</button>
        </fieldset>
    </form>
    {% if firstname or lastname or email %}
        {% if not people %}
        <div>{{ _('no_results', 'messages')|format(_(['person', 'people', 10])) }}</div>
        {% endif %}
    {% endif %}

    {% if people %}
        {{ include('html/people/list.twig') }}
    {% endif %}

    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
