{#
 * @copyright 2017-2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param string firstname
 * @param string lastname
 * @param string email
 * @param array  people         Array of people search results
 * @param int    total
 * @param int    itemsPerPage
 * @param int    currentPage
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section class="container">
    <header>
        <h1>{{ _(['person', 'people', 100]) }}</h1>
    </header>
    <form method="get">
        <fieldset>
            <legend>{{ _('find_person') }}</legend>
            {{ forms.field_text('firstname', 'firstname', _('firstname'), firstname) }}
            {{ forms.field_text('lastname', 'lastname', _('lastname'), lastname) }}

            {% if isAllowed('people', 'viewContactInfo') %}
            {{ forms.field_text('email', 'email', _('email'), email) }}
            {% endif %}

            {{ forms.button('submit', _('search'), 'search') }}
        </fieldset>
    </form>
    {% if firstname or lastname or email %}
        {% if not people %}
        <div>{{ _('no_results', 'messages')|format(_(['person', 'people', 10])) }}</div>
        {% endif %}
    {% endif %}

    {% if people %}
        {{ include('html/people/list.twig') }}
    {% endif %}

    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
