{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Person person
 * @param array  members
 * @param array  liaisons
 * @param array  emails
 * @param array  phones
 * @param array  applications_current
 * @param array  applications_archived
 * @param array  actionLinks
 #}
{% extends "html/layouts/default.twig" %}
{% import  'html/macros/forms.twig' as forms %}
{% block content %}
<section class="grid-container">
    <header><h1>{{ person.getFullname() }}</h1></header>

    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}

    {% if isAllowed('people', 'viewContactInfo') %}
    {{ include('html/people/partials/info.twig') }}
    {% endif %}
</section>

{% if isAllowed('people', 'viewContactInfo') %}
{{ include('html/people/emails/list.twig') }}
{{ include('html/people/phones/list.twig') }}
{% endif %}

{% if members %}
{{ include('html/people/partials/members.twig') }}
{% endif %}

{% if liaisons %}
{{ include('html/people/partials/liaisons.twig') }}
{% endif %}

{% if applicantFiles and isAllowed('applicantFiles', 'download') %}
{{ include('html/people/partials/files.twig', { applicant:person } ) }}
{% endif %}

{% if applications_current %}
{{ include('html/applications/partials/applications_current.twig') }}
{% endif %}

{% if applications_archived %}
{{ include('html/applications/partials/applications_archived.twig') }}
{% endif %}

{% endblock %}
