{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Person person
 * @param array  members
 * @param array  liaisons
 * @param array  emails
 * @param array  phones
 * @param array  actionLinks
 #}
{% extends "html/layouts/default.twig" %}
{% import  'html/macros/forms.twig' as forms %}
{% block content %}
<section class="grid-container">
    <header><h1>{{ person.getFullname() }}</h1></header>
    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}
    {{ include('html/people/partials/info.twig') }}
</section>

<section class="grid-container">
    <header><h2>{{ _(['email', 'emails', 10]) }}</h2></header>
    {% if isAllowed('emails', 'add') %}
    {{ forms.actionLink(uri('emails.add', { person_id: person.getId() }), _('email_add'), 'add') }}
    {% endif %}
    <table>
    {% for e in emails %}
    <tr><td>{{ e.email }}</td>
        <td>{% if e.main %}<span class="usa-tag">{{ _('main') }}</span>{% endif %}</td>
        <td>{% if e.actionLinks %}
            {{ include('html/partials/actionLinks.twig', { actionLinks: e.actionLinks} ) }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
</section>

<section class="grid-container">
    <header><h2>{{ _(['phone', 'phones', 10]) }}</h2></header>
    {% if isAllowed('phones', 'add') %}
    {{ forms.actionLink(uri('phones.add', { person_id: person.getId() }), _('phone_add'), 'add') }}
    {% endif %}
    <table>
    {% for p in phones %}
    <tr><td>{{ p.number }}</td>
        <td>{% if p.main %}<span class="usa-tag">{{ _('main') }}</span>{% endif %}</td>
        <td>{% if p.actionLinks %}
            {{ include('html/partials/actionLinks.twig', { actionLinks: p.actionLinks} ) }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
</section>

{% if members %}
<section class="grid-container">
    <header><h2>{{ _(['membership', 'memberships', 10]) }}</h2></header>

    <table class="usa-table usa-table--compact">
        <thead>
            <tr>
                <th>{{ _('committee'   ) }}</th>
                <th>{{ _('office'      ) }}</th>
                <th>{{ _('start'      ) }} - {{ _('end'      ) }}</th>
        </tr>
        </thead>
        <tbody>
        {% for m in members %}
        <tr><td><a class="usa-link" href="{{ uri('committees.members', { committee_id: m.committee_id }) }}">{{ m.committee_name }}</a></td>
            <td>{{ m.offices|join(', ') }}</td>
            <td>{{ m.startDate }} - {{ m.endDate }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}

{% if liaisons %}
<section class="grid-container">
    <header><h2>{{ _(['liaisonship', 'liaisonships', 10]) }}</h2></header>

    <table class="usa-table usa-table--compact">
    <thead>
        <tr>
            <th>{{ _('committee'   ) }}</th>
            <th>{{ _('type'      ) }}</th>
        </tr>
    </thead>
    <tbody>
        {% for l in liaisons %}
        <tr><td><a class="usa-link" href="{{ uri('committees.liaisons', { committee_id: l.committee_id }) }}">{{ l.committee_name }}</a></td>
            <td>{{ _(l.type) }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</section>
{% endif %}

{% endblock %}
