{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Laminas\Paginator people
 * @param bool              callback    Whether this is in a callback context or not
 * @param string            return_url  Optional
 *
 * Callbacks
 * @see public/js/people/chooser.js
 * ---------
 * There are cases where a user needs to choose a person to assign them to something.
 * The person choosing is done in a popup window and is rendered with minimal headers.
 * The choosing uses the same Controllers and Views for People::Find, People::Add.
 * When rendering for use in a popup person chooser, the links in people/list.twig
 * need call a javascript function, rather than link to the person.
 *
 * The only chooser we have ever needed was for personChooser.
 * For now, in a callback context, we can always call the setPerson() javascript function
 #}
<table class="usa-table">
  <thead>
    <tr>
      <th scope="col">{{ _('name') }}</th>
      {% if isAllowed('people', 'viewContactInfo') %}
      <th scope="col">{{ _('email') }}</th>
      <th scope="col">{{ _('phone') }}</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for p in people %}
  <tr><td>{% if not callback %}
          <a href="{{ uri('people.view', {id: p.getId()}) }}">{{ p.getFullName() }}</a>
          {% else %}
          <a href="{{ return_url }};person_id={{ p.getId() }}"
            onclick="self.opener.PERSON_CHOOSER.setPerson({{ p.getId() }})">{{ p.getFullName() }}</a>
          {% endif %}
      </td>
      {% if isAllowed('people', 'viewContactInfo') %}
      <td>{{ p.getEmail() }}</td>
      <td>{{ p.getPhone() }}</td>
      {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>

{% if isAllowed('people', 'add') %}
<a class="usa-button" href="{{ uri('people.add') }}{{ callback ? '?callback=1' : ''}}"> {{ _('person_add') }}</a>
{% endif %}
