{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param int    person_id
 * @param string firstname
 * @param string lastname
 * @param string email
 * @param string phone
 * @param string website
 * @param string gender
 * @param string race_id
 * @param string address
 * @param string city
 * @param string state
 * @param string zip
 * @param array  races      Options for race_id
 * @param array  states     Options for state
 *
 * @param string return_url
 * @param array  additional_params
 * @param bool   callback   Whether this form is being rendered as a callback modal
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section class="grid-container">
    <header>
        <h1>{{ person_id ? _('person_edit') : _('person_add') }}</h1>
    </header>

    <form class="usa-form usa-form--large" method="post">
        <fieldset class="usa-fieldset margin-bottom-3">
            <legend class="usa-legend usa-legend--large">Full Name</legend>
            {% if person_id %}
            <input name="person_id" type="hidden" value="{{ person_id }}" />
            {% endif %}
            {{ forms.field_text('firstname', 'firstname', _('firstname'), firstname, true) }}
            {{ forms.field_text('lastname',  'lastname',  _('lastname' ), lastname,  true) }}
        </fieldset>
        <fieldset class="usa-fieldset margin-bottom-3">
            <legend class="usa-legend usa-legend--large">Contact</legend>
            {{ forms.field_email('email',    'email',     _('email'    ), email ) }}
            {{ forms.field_phone('phone',    'phone',     _('phone'    ), phone ) }}
            <label class="usa-label" for="website">{{ _('website') }}<span> (optional)</span></label>
            <input class="usa-input" name="website" id="website" value="{{ website }}" type="url" />
        </fieldset>
        <fieldset class="usa-fieldset margin-bottom-3">
            <legend class="usa-legend usa-legend--large">{{ _('mail_address') }}</legend>
            {{ forms.field_text('address', 'address', _('streetaddress'), address ) }}
            {{ forms.field_text('city',    'city',    _('city'   ), city  ) }}
            <label for="state" class="usa-label">{{ _('state') }}</label>
            <select name="state" id="state" class="usa-select">
                {% for s in states %}
                <option {{ s==state ? 'selected="true"' : '' }}>{{ s }}</option>
                {% endfor %}
            </select>
            {{ forms.field_number('zip', 'zip', _('zip'), zip, false, {pattern:'[\d]{5}(-[\d]{4})?'} ) }}
        </fieldset>
        <fieldset class="usa-fieldset margin-bottom-3">
            <legend class="usa-legend usa-legend--large">{{ _('gender') }}</legend>
            <div class="usa-radio">
                <input
                    class="usa-radio__input"
                    id="male"
                    type="radio"
                    name={{ _('gender') }}
                    value="male"
                    {{ gender=='male' ? 'checked="checked"' : '' }}
                />
                <label class="usa-radio__label" for="male">M</label>
            </div>

            <div class="usa-radio">
                <input
                    class="usa-radio__input"
                    id="female"
                    type="radio"
                    name={{ _('gender') }}
                    value="female"
                    {{ gender=='female' ? 'checked="checked"' : '' }}
                />
                <label class="usa-radio__label" for="female">F</label>
            </div>
        </fieldset>
        <fieldset class="usa-fieldset margin-bottom-3">
            <legend class="usa-legend usa-legend--large">{{ _('race') }}</legend>
            <label for="race_id" class="usa-label">{{ _('race') }}<span> (optional)</span></label>
            <select name="race_id" id="race_id" class="usa-select" >
                <option></option>
                {% for r in races %}
                <option value="{{ r.getId() }}" {{ race_id==r.getId() ? 'selected="true"' : '' }}>{{ r.getName() }}</option>
                {% endfor %}
            </select>

         </fieldset>

        {% for k, v in additional_params %}
        <input name="{{ k }}" type="hidden" value="{{ v }}" />
        {% endfor %}

        {{ forms.button('submit', _('save'), 'save') }}
        {{ forms.actionLink(return_url, _('cancel') ) }}
    </form>
</section>

{% endblock %}
