{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Person person
 *
 * @param array  yesno
 *
 * @param string return_url
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <header>
        <h1>{{ _('person_edit') }}</h1>
    </header>

    <form           class="usa-form" method="post">
        <fieldset   class="usa-fieldset">
            <legend class="usa-legend">Full Name</legend>
            {{ forms.field_text('firstname', 'firstname', _('firstname'), person.firstname, true) }}
            {{ forms.field_text('lastname',  'lastname',  _('lastname' ), person.lastname,  true) }}
        </fieldset>

        <fieldset   class="usa-fieldset">
            <legend class="usa-legend">{{ _('about') }}</legend>
            {{ forms.field_text('occupation', 'occupation', _('occupation'), person.occupation ) }}
            {{ forms.field_url ('website',    'website',    _('website'),    person.website    ) }}

            {{ forms.button('submit', _('save'), 'save') }}
            {{ forms.actionLink(return_url, _('cancel') ) }}
        </fieldset>
    </form>
</section>

{% endblock %}
