{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array members   An array of Member objects
 #}
<section>
    <table>
    {% for m in members %}
    <tr><td><a href="{{ uri('people.view') }}?person_id={{ m.getPerson_id() }}">{{ m.getPerson().getFullname() }}</a></td>
        <td>{{ m.getStartDate(DATE_FORMAT) }} - {{ m.getEndDate(DATE_FORMAT) }}</td>
    </tr>
    {% endfor %}
    </table>
</section>
