{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array     post
 * @param Committee committee
 * @param string    help
 * @param array     citylimits_options
 * @param array     referral_options
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section class="grid-container">
    <header>
        <h1>{{ _('applyToCommittee', 'messages')|format(committee.getName()) }}</h1>
    </header>

    {{ help|markdown_to_html }}

    <form           class="usa-form usa-form--large" method="post">
        <fieldset   class="usa-fieldset">
            <legend class="usa-legend usa-legend--large">{{ _('referral') }}</legend>
            {{ forms.field_select('referredFrom',  'referredFrom',  _('referredFrom'),  post.referredFrom  ?? '', referral_options ) }}
            {{ forms.field_text  ('referredOther', 'referredOther', _('referredOther'), post.referredOther ?? '' ) }}
        </fieldset>

        <fieldset   class="usa-fieldset margin-bottom-3">
            <legend class="usa-legend usa-legend--large">{{ _('interest_label') }}</legend>
            {{ forms.field_textarea('interest', 'interest', _('interest'), post.interest ?? '' ) }}
        </fieldset>

        <fieldset   class="usa-fieldset margin-bottom-3">
            <legend class="usa-legend usa-legend--large">{{ _('qualifications_label') }}</legend>
            {{ forms.field_textarea('qualifications', 'qualifications', _('qualifications'), post.qualifications ?? '' ) }}
        </fieldset>

        <fieldset   class="usa-fieldset">
            {{ forms.button('submit', _('save'), 'save') }}
            {{ forms.actionLink(uri('committees.info', { committee_id: committee.getId()}), _('cancel'), 'cancel' ) }}
        </fieldset>
    </form>
</section>
{% endblock %}
