{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Applicant applicant
 * @param array     actionLinks
 * @param array     applications_current
 * @param array     applications_archived
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig"         as forms   %}
{% block content %}
<section class="grid-container">
    <header>
        <h1>{{ _('applicant_info') }}</h1>
    </header>

    <h2>{{ applicant.getFirstname() }} {{ applicant.getLastname() }}</h2>
    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}

    <dl>
        {% if applicant.getEmail() %}
        <dt class="text-bold">{{ _('email') }}</dt>
        <dd>{{ applicant.getEmail() }}</dd>
        {% endif %}
        {% if applicant.getPhone() %}
        <dt class="text-bold">{{ _('phone') }}</dt>
        <dd>{{ applicant.getPhone() }}</dd>
        {% endif %}
        {% if applicant.getAddress() %}
        <dt class="text-bold">{{ _('address') }}</dt>
        <dd>{{ applicant.getAddress() }}</dd>
        {% endif %}
        {% if applicant.getCity() %}
        <dt class="text-bold">{{ _('city') }}</dt>
        <dd>{{ applicant.getCity() }}</dd>
        {% endif %}
        {% if applicant.getZip() %}
        <dt class="text-bold">{{ _('zip') }}</dt>
        <dd>{{ applicant.getZip() }}</dd>
        {% endif %}
        {% if applicant.getCitylimits() %}
        <dt class="text-bold">{{ _('citylimits') }}</dt>
        <dd>{{ applicant.getEmail() ? _('yes') : _('no') }}</dd>
        {% endif %}
        {% if applicant.getOccupation() %}
        <dt class="text-bold">{{ _('occupation') }}</dt>
        <dd>{{ applicant.getOccupation() }}</dd>
        {% endif %}
        {% if applicant.getReferredFrom() %}
        <dt class="text-bold">{{ _('referredFrom') }}</dt>
        <dd>{{ applicant.getReferredFrom() }}</dd>
        {% endif %}
        {% if applicant.getEmail() %}
        <dt class="text-bold">{{ _('email') }}</dt>
        <dd>{{ applicant.getEmail() }}</dd>
        {% endif %}
        {% if applicant.getReferredOther() %}
        <dt class="text-bold">{{ _('referredOther') }}</dt>
        <dd>{{ applicant.getReferredOther() }}</dd>
        {% endif %}
        {% if applicant.getInterest() %}
        <dt class="text-bold">{{ _('interest') }}</dt>
        <dd>{{ applicant.getInterest() }}</dd>
        {% endif %}
        {% if applicant.getQualifications() %}
        <dt class="text-bold">{{ _('qualifications') }}</dt>
        <dd>{{ applicant.getQualifications() }}</dd>
        {% endif %}

        {% if applicant.getFiles() and isAllowed('applicantFiles', 'download') %}
        <dt class="text-bold">{{ _('applicantFile') }}<strong></dt>
        <dd>{% for f in applicant.getFiles() %}
            <a href="{{ uri('applicantFiles.download', { applicantFile_id: f.getId() }) }}">{{ f.getFilename() }}</a>
            {% if isAllowed('applicantFiles', 'delete') %}
            {{ forms.actionLink(uri('applicantFiles.delete', { applicantFile_id: f.getId() }), _('delete'), 'delete') }}
            {% endif %}
            {% endfor %}
        </dd>
        {% endif %}
    </dl>

{{ include('html/applications/partials/list.twig') }}
</section>
{% endblock %}
