{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array applicants
 * @param array search       The search parameters requested
 *
 * Pagination
 * @param int total
 * @param int itemsPerPage
 * @param int currentPage
 *
 * Drop down options
 * @param array committees
#}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}
{% import  "html/macros/forms.twig"      as forms %}
{% block content %}
<section>
    <header>
        <h1>{{ _(['applicant', 'applicants', 10]) }}</h1>
    </header>

    <form method="get" class="usa-form">
        <fieldset      class="usa-fieldset">
            {{ forms.field_text('firstname', 'firstname', _('firstname'), search.firstname ?? '') }}
            {{ forms.field_text('lastname',  'lastname',  _('lastname' ), search.lastname  ?? '') }}
            {{ forms.field_text('email',     'email',     _('email'    ), search.email     ?? '') }}
            {{ forms.field_select('committee_id', 'committee_id', _('committee'), search.committee_id ?? '', committees, false, { onchange:'this.form.submit();' } ) }}

            {{ forms.button('submit', _('search'), 'search') }}
        </fieldset>
    </form>
    {% if search|length > 0 %}
        {% if not applicants %}
        <div>{{ _('no_results', 'messages')|format(_(['applicant', 'applicants', 10])) }}</div>
        {% endif %}
    {% endif %}

    {% if applicants %}
    <table>
        <thead>
            <tr><th>{{ _('name'   ) }}</th>
                <th>{{ _('email'  ) }}</th>
                <th>{{ _('phone'  ) }}</th>
            </tr>
        </thead>
        <tbody>
        {% for a in applicants %}
        <tr><td><a class="usa-link" href="{{ uri('people.view', { person_id: a.id }) }}">{{ a.name }}</a></td>
            <td>{{ a.email }}</td>
            <td>{{ a.phone }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(search, total, itemsPerPage, currentPage) }}
    {% endif %}

</section>

{% endblock %}
