{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Applicant applicant
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section class="grid-container">
    <header>
        <h1>{{ applicant.getId() ? _('applicant_edit') : _('applicant_add') }}</h1>
    </header>

    <form class="usa-form" method="post">
        <fieldset class="usa-fieldset">
            <legend class="usa-legend usa-legend--large">{{ _('info_person') }}</legend>

            {{ forms.field_text('firstname', 'firstname', _('firstname'), applicant.getFirstname(), true) }}
            {{ forms.field_text('lastname',  'lastname',  _('lastname' ), applicant.getLastname(),  true) }}
            {{ forms.field_email('email',    'email',     _('email'    ), applicant.getEmail() ) }}
            {{ forms.field_phone('phone',    'phone',     _('phone'    ), applicant.getPhone() ) }}

            {{ forms.button('submit', _('save'), 'save') }}
            {{ forms.actionLink(uri('applicants.view', { applicant_id: applicant.getId() }), _('cancel') ) }}
        </fieldset>
    </form>
</section>

{% endblock %}
