{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array applications_archived
 #}
<section>
    <header>
        <h2>{{ _('applications_archived') }}</h2>
    </header>

    <table class="table">
        <thead>
            <tr><th>{{ _('created' ) }}</th>
                <th>{{ _('name'    ) }}</th>
                <th>{{ _('archived') }}</th>
                <th>{{ _('actions') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for a in applications_archived %}
            <tr><td>{{ a.created|date('m/d/Y') }}</td>
                <td>{% if userCanViewApplicant %}
                    <a href="{{ uri('applicants.view') }}?applicant_id={{ a.applicant_id }}">
                        {{ a.applicant }}
                    </a>
                    {% else %}
                    {{ a.applicant }}
                    {% endif %}
                </td>
                <td>{{ a.archived|date('m/d/Y') }}</td>
                <td>{% if a.actionLinks %}
                    {{ include('html/partials/actionLinks.twig', {actionLinks:a.actionLinks}, with_context=false) }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

