{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array     applications_current
 * @param array     applications_archived
 #}
<section>
    <header>
        <h2>{{ _(['application', 'applications', 10 ]) }}
    </header>

    {% for a in applications_current %}
    <article     class="usa-card">
        <header  class="usa-card__header">
            <h3  class="usa-card__heading">{{ a.committee }} {{ a.created|date(DATE_FORMAT) }}</h3>
        </header>
        <div class="usa-card__body">
            <dl><dt class="text-bold">{{ _('expires') }}</dt>
                <dd>{{ a.expires|date(DATE_FORMAT) }}</dd>

                {% if a.referredFrom %}
                <dt class="text-bold">{{ _('referredFrom') }}</dt>
                <dd>{{ a.referredFrom }}</dd>
                {% endif %}
                {% if a.referredOther %}
                <dt class="text-bold">{{ _('referredOther') }}</dt>
                <dd>{{ a.referredOther }}</dd>
                {% endif %}
                {% if a.interest %}
                <dt class="text-bold">{{ _('interest') }}</dt>
                <dd>{{ a.interest }}</dd>
                {% endif %}
                {% if a.qualifications %}
                <dt class="text-bold">{{ _('qualifications') }}</dt>
                <dd>{{ a.qualifications }}</dd>
                {% endif %}
            </dl>
            {% if a.actionLinks %}
            {{ include('html/partials/actionLinks.twig', {actionLinks:a.actionLinks}, with_context=false) }}
            {% endif %}
        </div>
    </article>
    {% endfor %}
</section>

{% if applications_archived %}
{{ include('html/applications/partials/archived_applications.twig') }}
{% endif %}
