{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     applications_current
 * @param array     applications_archived
 #}
<section>
    <header>
        <h2>{{ _(['application', 'applications', 10 ]) }}
    </header>

    <table class="usa-table">
    <thead>
        <tr><th>{{ _('created') }}</th>
            <th>{{ _('name'   ) }}</th>
            <th>{{ _('committee'   ) }}</th>
            <th>{{ _('expires') }}</th>
            <th>{{ _('actions') }}</th>
        </tr>
    </thead>
    <tbody>
        {% set userCanViewApplicant    = isAllowed('applicants',   'view')         %}

        {% for a in applications_current %}
        <tr><td>{{ a.created|date('m/d/Y') }}</td>
            <td>{% if userCanViewApplicant %}
                <a href="{{ uri('applicants.view', {id: a.applicant_id}) }}">
                    {{ a.applicant }}
                </a>
                {% else %}
                {{ a.applicant }}
                {% endif %}
            </td>
            <td></td>
            <td>{{ a.expires|date('m/d/Y') }}</td>
            <td>{% if a.actionLinks %}
                {{ include('html/partials/actionLinks.twig', {actionLinks:a.actionLinks}, with_context=false) }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</section>

{% if applications_archived %}
{{ include('html/applications/partials/archived_applications.twig') }}
{% endif %}
