{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array types
 * @param array actionLinks (optional)
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>
    <header><h2>{{ _(['legislationType', 'legislationTypes', 10]) }}</h2></header>
    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}

    <table>
    {% for t in types %}
    <tr><td>{% if t.actionLinks %}
            {{ include('html/partials/actionLinks.twig', {actionLinks:t.actionLinks}, with_context=false) }}
            {% endif %}
        </td>
        <td>{{ t.name }}</td>
        <td>{{ t.subtype ? _('subtype') : '' }}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
