{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Type   type
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <header><h2>{{ type.getId() ? _('legislationType_edit') : _('legislationType_add') }}</h2></header>

    <form method="post">
        <fieldset>
            <input name="id" type="hidden" value="{{ type.getId() }}" />

            {{ forms.field_text('name', 'name', _('name'), type.getName(), true ) }}
            {{ forms.field_bool('subtype', 'subtype', _('subtype'), type.getSubtype() ) }}

            {{ forms.button('submit', _('save'), 'save') }}
            {{ forms.actionLink(uri('legislationTypes.index'), _('cancel'), 'cancel') }}
        </fieldset>
    </form>
</section>
{% endblock %}

