{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param string    ROUTE_NAME   Global
 #}
<a href="{{ uri('seats.index') }}" class="usa-link margin-right-05">
    {{ _('all') }}
</a>

<a href="{{ uri('seats.vacancies') }}" class="usa-link margin-right-05">
    {{ _(['vacancy', 'vacancies', 10]) }}
    <svg class="usa-icon bottom-neg-2px" aria-hidden="true" focusable="false" role="img">
        <use href="{{ USWDS_URL }}/img/sprite.svg#filter_list"></use>
    </svg>
</a>
