{#
 * @copyright 2025-2026 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 *
 * Options for select elements in the form
 * @param array     committee_types
 * @param array     departments
 * @param array     validators
 #}
{% import  "html/macros/forms.twig" as forms %}
<fieldset class="usa-fieldset margin-bottom-3">
    <legend class="usa-legend usa-legend--large">{{ _('committee_info') }}</legend>

    {{ forms.field_radio('type', 'type', _('type'), committee.type, committee_types, true) }}
    {{ forms.field_text ('name', 'name', _('name'), committee.name, true) }}
    {{ forms.field_text ('statutoryName', 'statutoryName', _('statutoryName'), committee.statutoryName, false, {}, _('committee-statutoryName-help', 'messages') ) }}

    <label for="code" class="usa-label">{{ _('code') }}</label>
    <div class="usa-hint" id="code-help">{{ _('committee-code-help', 'messages') }}</div>
    <input  id="code" name="code" value="{{ committee.code }}"
         class="usa-input usa-input--xs" maxlength="5" />

    <div class="margin-top-3">
        {{ forms.field_bool('legislative', 'legislative', _('legislative'), committee.legislative) }}
        {{ forms.field_bool('alternates',  'alternates',  _('alternates'),  committee.alternates ) }}
    </div>

    {{ forms.field_number('yearFormed',   'yearFormed',   _('yearFormed'),   committee.yearFormed, false, {'size':4} ) }}
    {{ forms.field_email ('calendarId',   'calendarId',   _('calendarId'),   committee.calendarId   ) }}
    {{ forms.field_url   ('website',      'website',      _('website'),      committee.website      ) }}
    {{ forms.field_url   ('videoArchive', 'videoArchive', _('videoArchive'), committee.videoArchive ) }}

    {% if committee.hasTerms() %}
    {{ forms.field_number  ('termEndWarningDays',  'termEndWarningDays',  _('termEndWarningDays'),  committee.termEndWarningDays,  true, {'size':4} ) }}
    {% endif %}
    {% if committee.takesApplications() %}
    {{ forms.field_number  ('applicationLifetime', 'applicationLifetime', _('applicationLifetime'), committee.applicationLifetime, true, {'size':4} ) }}
    {% endif %}

    {{ forms.field_textarea('description',     'description',     _('description'),     committee.description     ) }}
    {{ forms.field_textarea('meetingSchedule', 'meetingSchedule', _('meetingSchedule'), committee.meetingSchedule ) }}

    {{ forms.field_checkbox('departments', 'departments[]', _(['department', 'departments', 10]),  committee.departments|keys , departments, false, {}, _('committee-departments-help', 'messages') ) }}
    {{ forms.field_checkbox('validators',  'validators[]',  _(['validator',  'validators',  10]),  committee.validators,        validators,  false, {}, _('committee-validator-help',   'messages') ) }}

</fieldset>

<fieldset class="usa-fieldset margin-bottom-3">
    <legend class="usa-legend usa-legend--large">{{ _('contactInfo') }}</legend>

    {{ forms.field_text ('address', 'address', _('address'), committee.address) }}
    {{ forms.field_text ('city',    'city',    _('city'),    committee.city   ) }}
    {{ forms.field_text ('state',   'state',   _('state'),   committee.state  ) }}
    {{ forms.field_text ('zip',     'zip',     _('zip'),     committee.zip    ) }}
    {{ forms.field_email('email',   'email',   _('email'),   committee.email  ) }}
    {{ forms.field_phone('phone',   'phone',   _('phone'),   committee.phone  ) }}
</fieldset>
