{#
 * @copyright 2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     committee_types   Options for committee_type
 * @param array     departments       Options for departments
 #}
{% import  "html/macros/forms.twig" as forms %}
<fieldset class="usa-fieldset margin-bottom-3">
    <legend class="usa-legend usa-legend--large">{{ _('committee_info') }}</legend>

    {{ forms.field_radio('type', 'type', _('type'), committee.getType(), committee_types, true) }}
    {{ forms.field_text ('name', 'name', _('name'), committee.getName(), true) }}

    <div class="margin-top-3">
        {{ forms.field_bool('legislative', 'legislative', _('legislative'), committee.getLegislative() ) }}
        {{ forms.field_bool('alternates',  'alternates',  _('alternates'),  committee.getAlternates()  ) }}
    </div>

    {{ forms.field_number  ('yearFormed',          'yearFormed',          _('yearFormed'),          committee.getYearFormed(),          false, {'size':4} ) }}
    {{ forms.field_text    ('statutoryName',       'statutoryName',       _('statutoryName'),       committee.getStatutoryName() ) }}
    {{ forms.field_text    ('code',                'code',                _('code'),                committee.getCode(),                false, {'size':5} ) }}
    {{ forms.field_email   ('calendarId',          'calendarId',          _('calendarId'),          committee.getCalendarId() ) }}
    {{ forms.field_url     ('website',             'website',             _('website'),             committee.getWebsite() ) }}
    {{ forms.field_url     ('videoArchive',        'videoArchive',        _('videoArchive'),        committee.getVideoArchive() ) }}
    {% if committee.hasTerms() %}
    {{ forms.field_number  ('termEndWarningDays',  'termEndWarningDays',  _('termEndWarningDays'),  committee.getTermEndWarningDays(),  true, {'size':4} ) }}
    {% endif %}
    {% if committee.takesApplications() %}
    {{ forms.field_number  ('applicationLifetime', 'applicationLifetime', _('applicationLifetime'), committee.getApplicationLifetime(), true, {'size':4} ) }}
    {% endif %}
    {{ forms.field_textarea('description',         'description',         _('description'),         committee.getDescription() ) }}
    {{ forms.field_textarea('meetingSchedule',     'meetingSchedule',     _('meetingSchedule'),     committee.getMeetingSchedule() ) }}
</fieldset>

<fieldset class="usa-fieldset margin-bottom-3">
    <legend class="usa-legend usa-legend--large">{{ _(['department', 'departments', 10]) }}</legend>
    {{ forms.field_checkbox('departments', 'departments[]', _(['department', 'departments', 10]),  committee.getDepartments()|keys , departments) }}
</fieldset>

<fieldset class="usa-fieldset margin-bottom-3">
    <legend class="usa-legend usa-legend--large">{{ _('contactInfo') }}</legend>

    {{ forms.field_text ('address', 'address', _('address'), committee.getAddress() ) }}
    {{ forms.field_text ('city',    'city',    _('city'),    committee.getCity()    ) }}
    {{ forms.field_text ('state',   'state',   _('state'),   committee.getState()   ) }}
    {{ forms.field_text ('zip',     'zip',     _('zip'),     committee.getZip()     ) }}
    {{ forms.field_email('email',   'email',   _('email'),   committee.getEmail()   ) }}
    {{ forms.field_phone('phone',   'phone',   _('phone'),   committee.getPhone()   ) }}
</fieldset>
