{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param string    ROUTE_NAME   Global
 #}

{#
   Several of the routes use a current=0 parameter to designate "past" listings
   To determine which route is the current route, we often need to check for this parameter.
   "Past" routes will have a current=0 parameter in the URL.
   "Current" routes will not have the parameter at all
#}
{% set url     = current_url() %}
{% set current = url.current is defined and url.current==0 ? false : true %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="{{ uri('committees.info') }}?committee_id={{ committee.getId() }}"
           class="nav-link {{ ROUTE_NAME=='committees.info' ? 'active' : '' }}">
           {{ _('committee_info') }}
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ uri('committees.members') }}?committee_id={{ committee.getId() }}"
           class="nav-link {{ ROUTE_NAME=='committees.members' and current ? 'active' : '' }}">
           {{ _(['current_member', 'current_members', 10]) }}
        </a>
    </li>

    {% if committee.getType() == 'seated' and isAllowed('seats', 'update') %}
    <li class="nav-item">
        <a href="{{ uri('committees.seats') }}?committee_id={{ committee.getId() }}"
           class="nav-link {{ ROUTE_NAME=='committees.seats' and current ? 'active' : '' }}">
           {{ _(['seat', 'seats', 10]) }}
        </a>
    </li>
        {% if committee.hasPastSeats() %}
        <li class="nav-item">
            <a href="{{ uri('committees.seats') }}?committee_id={{ committee.getId() }};current=0"
               class="nav-link {{ ROUTE_NAME=='committees.seats' and not current ? 'active' : '' }}">
               {{ _('seats_past') }}
            </a>
        </li>
        {% endif %}
    {% endif %}

    {% if committee.getType()=='open' and committee.hasPastMembers() %}
    <li class="nav-item">
        <a href="{{ uri('committees.members') }}?committee_id={{ committee.getId() }};current=0"
           class="nav-link {{ ROUTE_NAME=='committees.members' and not current ? 'active' : '' }}">
           {{ _(['past_member', 'past_members', 10]) }}
        </a>
    </li>
    {% endif %}
    {% if isAllowed('committees', 'applications') and committee.takesApplications() %}
    <li class="nav-item">
        <a href="{{ uri('committees.applications') }}?committee_id={{ committee.getId() }}"
           class="nav-link {{ ROUTE_NAME=='committees.applications' ? 'active' : '' }}">
           {{ _(['application', 'applications', 10]) }}
        </a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a href="{{ uri('committees.meetings') }}?committee_id={{ committee.getId() }}"
           class="nav-link {{ ROUTE_NAME=='committees.meetings' ? 'active' : '' }}">
           {{ _(['meeting', 'meetings', 10]) }}
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ uri('meetingFiles.index') }}?committee_id={{ committee.getId() }}"
           class="nav-link {{ ROUTE_NAME=='meetingFiles.index' ? 'active' : '' }}">
           {{ _(['meetingFile', 'meetingFiles', 10]) }}
        </a>
    </li>
    {% if committee.isLegislative() %}
    <li class="nav-item">
        <a href="{{ uri('legislation.index') }}?committee_id={{ committee.getId() }};year={{ 'now'|date('Y') }}"
           class="nav-link {{ ROUTE_NAME=='legislation.index' ? 'active' : '' }}">
           {{ _(['legislation', 'legislations', 10]) }}
        </a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a href="{{ uri('reports.index') }}?committee_id={{ committee.getId() }}"
           class="nav-link {{ ROUTE_NAME=='reports.index' ? 'active' : '' }}">
           {{ _(['report', 'reports', 10]) }}
        </a>
    </li>
    {% if isAllowed('committees', 'history') %}
    <li class="nav-item">
        <a href="{{ uri('committees.history') }}?committee_id={{ committee.getId() }}"
           class="nav-link {{ ROUTE_NAME=='committees.history' ? 'active' : '' }}">
           {{ _('committeeHistory') }}
        </a>
    </li>
    {% endif %}
</ul>
