{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param string    ROUTE_NAME   Global
 #}

{#
   Several of the routes use a current=0 parameter to designate "past" listings
   To determine which route is the current route, we often need to check for this parameter.
   "Past" routes will have a current=0 parameter in the URL.
   "Current" routes will not have the parameter at all
#}

<aside class="usa-layout-docs-sidenav desktop:grid-col-3 margin-top-3">
    <nav aria-label="Secondary navigation">
        {% set url     = current_url() %}
        {% set current = url.current is defined and url.current==0 ? false : true %}
        <ul class="usa-sidenav">
            <li class="usa-sidenav__item">
                <a href="{{ uri('committees.info', {id: committee.getId()}) }}"
                class="{{ ROUTE_NAME=='committees.info' ? 'usa-current' : '' }}">
                {{ _('committee_info') }}
                </a>
            </li>
            <li class="usa-sidenav__item">
                <a href="{{ uri('committees.statutes', {id: committee.getId()}) }}"
                class="{{ ROUTE_NAME=='committees.statutes' ? 'usa-current' : '' }}">
                {{ _(['committeeStatute', 'committeeStatutes', 10]) }}
                </a>
            </li>
            <li class="usa-sidenav__item">
                <a href="{{ uri('committees.members', {id: committee.getId()}) }}"
                class="{{ ROUTE_NAME=='committees.members' and current ? 'usa-current' : '' }}">
                {{ _(['current_member', 'current_members', 10]) }}
                </a>
            </li>

            {% if committee.getType() == 'seated' and isAllowed('seats', 'update') %}
            <li class="usa-sidenav__item">
                <a href="{{ uri('committees.seats', {id: committee.getId()}) }}"
                class="{{ ROUTE_NAME=='committees.seats' and current ? 'usa-current' : '' }}">
                {{ _(['seat', 'seats', 10]) }}
                </a>
                {% if committee.hasPastSeats() %}
                <ul class="usa-sidenav__sublist">
                    <li class="nav-item">
                        <a href="{{ uri('committees.seats', {id: committee.getId()}) }}?current=0"
                        class="{{ ROUTE_NAME=='committees.seats' and not current ? 'usa-current' : '' }}">
                        {{ _('seats_past') }}
                        </a>
                    </li>
                </ul>
                {% endif %}
            </li>
            {% endif %}

            {% if committee.getType()=='open' and committee.hasPastMembers() %}
            <li class="usa-sidenav__item">
                <a href="{{ uri('committees.members', {id: committee.getId()}) }}?current=0"
                class="{{ ROUTE_NAME=='committees.members' and not current ? 'usa-current' : '' }}">
                {{ _(['past_member', 'past_members', 10]) }}
                </a>
            </li>
            {% endif %}

            {% if isAllowed('committees', 'applications') and committee.takesApplications() %}
            <li class="usa-sidenav__item">
                <a href="{{ uri('committees.applications', {id: committee.getId()}) }}"
                class="{{ ROUTE_NAME=='committees.applications' ? 'usa-current' : '' }}">
                {{ _(['application', 'applications', 10]) }}
                </a>
            </li>
            {% endif %}

            <li class="usa-sidenav__item">
                <a href="{{ uri('committees.meetings', {id: committee.getId()}) }}"
                class="{{ ROUTE_NAME=='committees.meetings' ? 'usa-current' : '' }}">
                {{ _(['meeting', 'meetings', 10]) }}
                </a>
            </li>

            <li class="usa-sidenav__item">
                <a href="{{ uri('meetingFiles.index') }}?committee_id={{ committee.getId() }}"
                class="{{ ROUTE_NAME=='meetingFiles.index' ? 'usa-current' : '' }}">
                {{ _(['meetingFile', 'meetingFiles', 10]) }}
                </a>
            </li>

            {% if committee.isLegislative() %}
            <li class="usa-sidenav__item">
                <a href="{{ uri('legislation.index') }}?committee_id={{ committee.getId() }};year={{ 'now'|date('Y') }}"
                class="{{ ROUTE_NAME=='legislation.index' ? 'usa-current' : '' }}">
                {{ _(['legislation', 'legislations', 10]) }}
                </a>
            </li>
            {% endif %}

            <li class="usa-sidenav__item">
                <a href="{{ uri('reports.index') }}?committee_id={{ committee.getId() }}"
                class="{{ ROUTE_NAME=='reports.index' ? 'usa-current' : '' }}">
                {{ _(['report', 'reports', 10]) }}
                </a>
            </li>

            {% if isAllowed('committees', 'history') %}
            <li class="usa-sidenav__item">
                <a href="{{ uri('committees.history', {id: committee.getId()}) }}"
                class="{{ ROUTE_NAME=='committees.history' ? 'usa-current' : '' }}">
                {{ _('committeeHistory') }}
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</aside>