{% macro actionLink(url, label, class) %}
{% set classmap={
 'archive':   'save_alt',
 'unarchive': 'undo',
 'download': 'file_download'
} %}
<a href="{{ url }}" class="usa-link margin-right-05">{{ label }}{% if class %}<svg class="usa-icon margin-left-2px" aria-hidden="true" focusable="false" role="img"><use href="/static/uswds/dist/img/sprite.svg#{{ class and classmap[class] is defined ? classmap[class] : class }}"></use></svg>{% endif %}</a>
{% endmacro %}

{% macro button(type, label, class) %}
{% set classmap={
 'cancel': 'usa-button--outline'
} %}
<button type="{{ type }}" class="usa-button {{ class and classmap[class] is defined ? classmap[class] : '' }}">{{ label }}</button>
{% endmacro %}

{% macro field_text(id, name, label, value, required=false, attr={}, help=null) %}
    <label for="{{ id }}" class="usa-label">{{ label }}{{ required ? ' <span>*</span>' : '' }}</label>
    {% if help %}<div class="usa-hint" id="{{ id }}-help">{{ help|raw }}</div>{% endif %}
    <input  id="{{ id }}" name="{{ name }}"  value="{{ value }}" class="usa-input"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %} />
{% endmacro %}

{% macro field_radio(id, name, label, value, options, required=false, attr={}, help=null) %}
<div><p>{{ label }}{{ required ? ' <span>*</span>' : '' }}</p>
    {% for o in options %}
    <div class="usa-radio">
        <input class="usa-radio__input"  id="{{ id }}_{{ o.value }}" name="{{ name }}" type="radio" value="{{ o.value }}" {{ value==o.value ? 'checked="checked"' : '' }} />
        <label class="usa-radio__label" for="{{ id }}_{{ o.value }}">{{ o.label ?? o.value }}</label>
    </div>
    {% endfor %}
    {% if help %}<p class="usa-hint" id="{{ id }}-help">{{ help|raw }}</p>{% endif %}
</div>
{% endmacro %}

{% macro field_checkbox(id, name, label, values, options, required=false, attr={}, help=null) %}
<div><p>{{ label }}{{ required ? ' <span>*</span>' : '' }}</p>
    {% for o in options %}
    <div class="usa-checkbox">
        <input class="usa-checkbox__input"  id="{{ id }}_{{ o.value }}" name="{{ name }}" type="checkbox" value="{{ o.value }}" {{ o.value in values ? 'checked="checked"' : '' }} />
        <label class="usa-checkbox__label" for="{{ id }}_{{ o.value }}">{{ o.label ?? o.value }}</label>
    </div>
    {% endfor %}
    {% if help %}<p class="usa-hint">{{ help|raw }}</p>{% endif %}
</div>
{% endmacro %}

{% macro field_select(id, name, label, value, options, required=false, attr={}, help=null) %}
    <label class="usa-label" for="{{ id }}">{{ label }}{{ required ? ' <span>*</span>' : '' }}</label>
    {% if help %}<div class="usa-hint" id="{{ id }}-help">{{ help|raw }}</div>{% endif %}
    <select id="{{ id }}" name="{{ name }}" class="usa-select"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %}>
        {% for o in options %}
        <option value="{{ o.value }}" {{ o.value==value ? 'selected="true"' : '' }}>{{ o.label ?? o.value }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro field_combo(id, name, label, value, options, required=false, attr={}, help=null) %}
    <label class="usa-label" for="{{ id }}">{{ label }}{{ required ? ' <span>*</span>' : '' }}</label>
    {% if help %}<div class="usa-hint" id="{{ id }}-help">{{ help|raw }}</div>{% endif %}
    <div class="usa-combo-box" data-default-value={{ value }}>
        <select id="{{ id }}" name="{{ name }}" class="usa-select"
            {{- required ? ' required="true"' : '' }}
            {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
            {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %}>
            {% for o in options %}
            <option value="{{ o.value }}" {{ o.value==value ? 'selected="true"' : '' }}>{{ o.label ?? o.value }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{% macro field_password(id, name, label, value, required=false, attr={}, help=null) %}
    <label for="{{ id }}" class="usa-label">{{ label }}{{ required ? ' <span>*</span>' : '' }}</label>
    {% if help %}<div class="usa-hint" id="{{ id }}-help">{{ help|raw }}</div>{% endif %}
    <input  id="{{ id }}" name="{{ name }}"  value="{{ value }}" type="password" class="usa-input"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %} />
{% endmacro %}

{% macro field_email(id, name, label, value, required=false, attr={}, help=null) %}
    <label class="usa-label" for="{{ id }}">{{ label }}{{ required ? ' <span>*</span>' : '' }}</label>
    {% if help %}<div class="usa-hint" id="{{ id }}-help">{{ help|raw }}</div>{% endif %}
    <input  id="{{ id }}" name="{{ name }}"  value="{{ value }}" type="email" class="usa-input"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %} />
{% endmacro %}

{% macro field_phone(id, name, label, value, required=false, attr={}, help=null) %}
    <label class="usa-label" for="{{ id }}">{{ label }}{{ required ? ' <span>*</span>' : ' <span>(optional)</span>' }}</label>
    {% if help %}<div class="usa-hint" id="{{ id }}-help">{{ help|raw }}</div>{% endif %}
    <input  id="{{ id }}" name="{{ name }}"  value="{{ value }}" type="tel" class="usa-input"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %} />
{% endmacro %}

{% macro field_url(id, name, label, value, required=false, attr={}, help=null) %}
    <label class="usa-label" for="{{ id }}">{{ label }}{{ required ? ' <span>*</span>' : '' }}</label>
    {% if help %}<div class="usa-hint" id="{{ id }}-help">{{ help|raw }}</div>{% endif %}
    <input  id="{{ id }}" name="{{ name }}"  value="{{ value }}" type="url" class="usa-input"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %} />
{% endmacro %}

{% macro field_date(id, name, label, value, required=false, attr={}, help=null) %}
    <label class="usa-label" for="{{ id }}">{{ label }}{{ required ? ' <span>*</span>' : ' <span>(optional)</span>' }}</label>
    {% if help %}<div class="usa-hint" id="{{ id }}-help">{{ help|raw }}</div>{% endif %}
    <input id="{{ id }}" name="{{ name }}" value="{{ value }}" type="date"
        class="usa-input usa-input--medium"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %} />
{% endmacro %}

{% macro field_textarea(id, name, label, value, required=false, attr={}, help=null) %}
    <label class="usa-label" for="{{ id }}">{{ label }}{{ required ? ' <span>*</span>' : '' }}</label>
    {% if help %}<div class="usa-hint" id="{{ id }}-help">{{ help|raw }}</div>{% endif %}
    <textarea id="{{ id }}" name="{{ name }}" class="usa-textarea"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %}>{{ value }}</textarea>
{% endmacro %}

{#
 # The value passed in must be a File object
 # @see Application\Models\File
 #}
{% macro field_file(id, name, label, file, accept, maxSize, maxBytes, required=false, attr={}, help=null) %}
    <label class="usa-label" for="{{ id }}">{{ label }}{{ required ? ' <span>*</span>' : '' }}</label>
    {% if help %}<span class="usa-hint" id="{{ id }}-help">{{ help|raw }}</span>{% endif %}
    <input class="usa-file-input" id="{{ id }}" name="{{ name }}" type="file"
        accepts="{{ accept }}" size="{{ maxBytes }}"
        data-errorMessage="Please upload a single {{ accept }} file that is not larger than {{ maxSize }}."
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %} />
{% endmacro %}


{% macro field_number(id, name, label, value, required=false, attr={}, help=null) %}
    <label for="{{ id }}" class="usa-label">{{ label }}{{ required ? ' <span>*</span>' : '' }}</label>
    {% if help %}<div class="usa-hint" id="{{ id }}-help">{{ help|raw }}</div>{% endif %}
    <input  id="{{ id }}" name="{{ name }}"  value="{{ value }}" type="number" class="usa-input usa-input--medium"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %} />
{% endmacro %}

{% macro field_bool(id, name, label, value, required=false, attr={}, help=null) %}
<div class="usa-checkbox">
    <input name="{{ name }}" id="{{ id }}"
            type="checkbox" value="1" {{ value ? 'checked="true"': '' }}
            {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
            class="usa-checkbox__input" />
    <label for="{{ id }}" class="usa-checkbox__label">{{ label }}</label>
    {% if help %}<div class="usa-hint" id="{{ id }}-help">{{ help|raw }}</div>{% endif %}
</div>
{% endmacro %}

{#
 # Person Chooser Field
 #
 # The value passed in must be a Person object
 # @see Application\Models\Person
#}
{% macro field_person(id, name, label, person, required=false, attr={}, help=null) %}
    <label for="{{ id }}" class="usa-label">{{ label }}{{ required ? ' <span>*</span>' : '' }}</label>
    <span   id="{{ id }}-name"> {{ person ? person.getFullname() : '' }}</span>
    <input  id="{{ id }}" name="{{ name }}" value="{{ person ? person.getId() : '' }}" type="hidden"
        {{- required ? ' required="true"' : '' }} />
    <button type="button" class="person usa-button usa-button--unstyled margin-top-0"
        onclick="PERSON_CHOOSER.open(event, '{{ id }}');">{{ person ? _('person_change') : _('person_choose') }}</button>
{%endmacro %}
