{% macro actionLink(url, label, class) %}
{% set classmap={
 'add':    'usa-button',
 'edit':   'usa-button usa-button--base',
 'delete': 'usa-button usa-button--secondary',
 'cancel': 'usa-button usa-button--outline'
} %}
<a href="{{ url }}" class="{{ class and classmap[class] is defined ? classmap[class] : 'btn-secondary' }} align-self-center me-3">{{ label }}</a>
{% endmacro %}

{% macro button(type, label, class) %}
{% set classmap={
 'search': 'usa-button',
 'save':   'btn-success'
} %}
<button type="{{ type }}" class="usa-button {{ class and classmap[class] is defined ? classmap[class] : 'usa-button--outline' }}">{{ label }}</button>

{% endmacro %}

{% macro field_text(id, name, label, value, required=false, attr={}, help=null) %}
    <label for="{{ id }}" class="usa-label">{{ label }} {{- required ? '<span> *</span>' : '' }}</label>
    {% if help %}<div class="usa-hint" id="{{ id }}-help">{{ help }}</div>{% endif %}
    <input  id="{{ id }}" name="{{ name }}"  value="{{ value }}" class="usa-input"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %} />
{% endmacro %}

{% macro field_select(id, name, label, value, options, required=false, attr={}, help=null) %}
<div class="mb-3">
    <label for="{{ id }}">{{ label }}</label>
    <select id="{{ id }}" name="{{ name }}" class="form-control"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %}>
    {% for o in options %}
    <option value="{{ o.value }}" {{ o.value==value ? 'selected="true"' : '' }}>{{ o.label ?? o.value }}</option>
    {% endfor %}
    </select>
    {% if help %}<span class="form-text" id="{{ id }}-help">{{ help }}</span>{% endif %}
</div>
{% endmacro %}

{% macro field_password(id, name, label, value, required=false, attr={}, help=null) %}
<div class="mb-3">
    <label for="{{ id }}">{{ label }}</label>
    <input  id="{{ id }}" name="{{ name }}"  value="{{ value }}" type="password" class="form-control"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %} />
    {% if help %}<span class="form-text" id="{{ id }}-help">{{ help }}</span>{% endif %}
</div>
{% endmacro %}

{% macro field_email(id, name, label, value, required=false, attr={}, help=null) %}
    <label class="usa-label" for="{{ id }}">{{ label }} {{- required ? '<span> *</span>' : '' }}</label>
    {% if help %}<div class="usa-hint" id="{{ id }}-help">{{ help }}</div>{% endif %}
    <input  id="{{ id }}" name="{{ name }}"  value="{{ value }}" type="email" class="usa-input"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %} />
{% endmacro %}

{% macro field_phone(id, name, label, value, required=false, attr={}, help=null) %}
    <label class="usa-label" for="{{ id }}">{{ label }} {{- required ? '<span> *</span>' : '<span> (optional)</span>' }}</label>
    {% if help %}<div class="usa-hint" id="{{ id }}-help">{{ help }}</div>{% endif %}
    <input  id="{{ id }}" name="{{ name }}"  value="{{ value }}" type="tel" class="usa-input"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %} />
{% endmacro %}

{% macro field_url(id, name, label, value, required=false, attr={}, help=null) %}
<div class="mb-3">
    <label for="{{ id }}">{{ label }}</label>
    <input  id="{{ id }}" name="{{ name }}"  value="{{ value }}" type="url" class="form-control"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %} />
    {% if help %}<span class="form-text" id="{{ id }}-help">{{ help }}</span>{% endif %}
</div>
{% endmacro %}

{% macro field_date(id, name, label, value, required=false, attr={}, help=null) %}
<div class="mb-3">
    <label for="{{ id }}">{{ label }}</label>
    <input  id="{{ id }}" name="{{ name }}"  value="{{ value }}" type="date" class="form-control"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %} />
    {% if help %}<span class="form-text" id="{{ id }}-help">{{ help }}</span>{% endif %}
</div>
{% endmacro %}

{% macro field_textarea(id, name, label, value, required=false, attr={}, help=null) %}
<div class="mb-3">
    <label   for="{{ id }}">{{ label }}</label>
    <textarea id="{{ id }}" name="{{ name }}" class="form-control"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %}>{{ value }}</textarea>
    {% if help %}<span class="form-text" id="{{ id }}-help">{{ help }}</span>{% endif %}
</div>
{% endmacro %}

{% macro field_file(id, name, label, value, required=false, attr={}, help=null) %}
<div class="mb-3">
    <label for="{{ id }}">{{ label }}</label>
    {% if value %}<div>{{ value }}</div>{% endif %}
    <input  id="{{ id }}" name="{{ name }}" type="file" class="form-control"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %} />
    {% if help %}<span class="form-text" id="{{ id }}-help">{{ help }}</span>{% endif %}
</div>
{% endmacro %}

{% macro field_number(id, name, label, value, required=false, attr={}, help=null) %}
    <label for="{{ id }}" class="usa-label">{{ label }}</label>
    <input  id="{{ id }}" name="{{ name }}"  value="{{ value }}" type="number" class="usa-input usa-input--medium"
        {{- required ? ' required="true"' : '' }}
        {%- if help %} aria-describedby="{{ id  }}-help"{% endif %}
        {%- for k,v in attr %} {{ k }}="{{ v }}" {% endfor %} />
    {% if help %}<span class="form-text" id="{{ id }}-help">{{ help }}</span>{% endif %}
{% endmacro %}

{% macro field_bool(id, name, label, value, required=false, attr={}, help=null) %}
<div class="form-check form-switch">
    <input name="{{ name }}" id="{{ id }}"
            type="checkbox" value="1" {{ value ? 'checked="true"': '' }}
            class="form-check-input"  role="switch" />
    <label for="{{ id }}" class="form-check-label">{{ label }}</label>
</div>
{% endmacro %}
