{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
{% macro personChooser(fieldname, fieldid, person) %}
<span id="{{ fieldid }}-name">{{ person ? person.getFullname() : '' }}</span>
<a class="button person"
    href="{{ BASE_URI }}/people?callback=1;return_url={{ current_url() }}"
    onclick="PERSON_CHOOSER.open(event, '{{ fieldid }}');">
    {{ _('person_change') }}
</a>
{% endmacro %}
