<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANG }}" lang="{{ LANG }}">
{{ include('html/layouts/partials/head.twig') }}

<body class="min-vh-100 vstack">
    <main class="container p-2 flex-grow-1">
        <div>
            {% if errorMessages is defined %}
            {{ include('html/layouts/partials/errorMessages.twig') }}
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
	</main>
    {{ include('html/layouts/partials/footer.twig') }}
</body>
</html>
