{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
#}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANG }}" lang="{{ LANG }}">
{{ include('html/layouts/partials/head.twig') }}

<body class="display-flex flex-column minh-viewport">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    {{ include('html/layouts/partials/gov-banner.twig') }}
    <div class="usa-overlay"></div>
    {{ include('html/layouts/partials/header.twig') }}
    <main id="main-content" class="flex-1 tablet:padding-bottom-10">
        {% if ERROR_MESSAGES is defined %}
        {{ include('html/layouts/partials/errorMessages.twig') }}
        {% endif %}

        <div class="grid-container">
            {{ include('html/committees/partials/header.twig') }}

            <div class="grid-row grid-gap">
                <aside class="usa-layout-docs-sidenav desktop:grid-col-3 margin-top-3">
                {{ include('html/committees/partials/side-nav.twig') }}
                </aside>

                <div class="desktop:grid-col-9">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
	</main>
    {{ include('html/layouts/partials/footer.twig') }}
    {{ include('html/layouts/partials/identifier.twig') }}
    <script src="/static/uswds/dist/js/uswds.min.js"></script>
</body>
</html>
