<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANG }}" lang="{{ LANG }}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <title>{{ title is defined ? title : APPLICATION_NAME }}</title>
    <script>
        var BASE_URL = '{{ BASE_URL }}',
            BASE_URI = '{{ BASE_URI }}';
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    {{ include('html/layouts/partials/header.twig') }}
    {{ include('html/layouts/partials/nav1.twig') }}
    <main class="container">
        {% if errorMessages is defined %}
        {{ include('html/layouts/partials/errorMessages.twig') }}
        {% endif %}

        {% block content %}
        {% endblock %}
	</main>
    <footer>
    </footer>
    <script type="text/javascript" src="{{ BASE_URI }}/js/onboard-{{ VERSION }}.js"></script>
</body>
</html>
