<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANG }}" lang="{{ LANG }}">
{{ include('html/layouts/partials/head.twig') }}

<body>
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <div class="usa-overlay"></div>
    {{ include('html/layouts/partials/header.twig') }}
    <main id="main-content">
        {# {{ include('html/layouts/partials/nav1.twig') }} #}
        
        {% if ERROR_MESSAGES is defined %}
        {{ include('html/layouts/partials/errorMessages.twig') }}
        {% endif %}

        {% block content %}
        {% endblock %}
	</main>
    {{ include('html/layouts/partials/footer.twig') }}
    {{ include('html/layouts/partials/identifier.twig') }}
    <script src="https://bloomington.in.gov/static/uswds/dist/js/uswds.min.js"></script>
</body>
</html>
