<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANG }}" lang="{{ LANG }}">
{{ include('html/layouts/partials/head.twig') }}

<body class="min-vh-100 vstack">
    {{ include('html/layouts/partials/header.twig') }}
    <main class="container-lg p-2 flex-grow-1">
        {{ include('html/layouts/partials/nav1.twig') }}
        
        {% if ERROR_MESSAGES is defined %}
        {{ include('html/layouts/partials/errorMessages.twig') }}
        {% endif %}

        {% block content %}
        {% endblock %}
	</main>
    {{ include('html/layouts/partials/footer.twig') }}
</body>
</html>
