{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array     reports
 * @param Committee committee (optional)
 *
 * Pagination
 * @param int    total
 * @param int    itemsPerPage
 * @param int    currentPage
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}
{% import  "html/macros/forms.twig"      as forms      %}
{% block content %}

{% if committee %}
{{ include('html/committees/breadcrumbs.twig') }}
<section class="container my-3">
    <header>
        <h2>{{ committee.getName() }}
            {% set vacancies = committee.getVacancyCount() %}
            {% if vacancies %}({{ vacancies }} {{ _(['vacancy', 'vacancies', vacancies]) }}){% endif %}
        </h2>
        {{ include('html/committees/partials/header.twig') }}
    </header>
{% else %}
<section>
    <header><h2>{{ _(['report', 'reports', 10]) }}</h2></header>
{% endif %}

    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}

    <table>
    {% for r in reports %}
    <tr><td>{{ r.date }}</td>
        <td><a href="{{ uri('reports.download') }}?report_id={{ r.id }}">{{ r.title }}</a></td>
        <td>{% if r.actionLinks %}
            {{ include('html/partials/moreLinks.twig', {actionLinks:r.actionLinks}, with_context=false) }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>

    {% if total > itemsPerPage %}
    {{ pagination.pageLinks(total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
