{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array     reports
 * @param Committee committee (optional)
 *
 * @param array     committees
 * @param array     sorts
 *
 * Pagination
 * @param string sort
 * @param int    total
 * @param int    itemsPerPage
 * @param int    currentPage
 #}
{% set t = committee ? 'html/layouts/committee.twig' : 'html/layouts/default.twig' %}
{% extends t %}
{% import  "html/macros/pagination.twig" as pagination %}
{% import  "html/macros/forms.twig"      as forms      %}
{% block content %}
<section>
    <header>
        <h2>{{ _(['report', 'reports', 10]) }}</h2>
        {% if actionLinks %}
        {{ include('html/partials/actionLinks.twig') }}
        {% endif %}
    </header>

    <form method="get" class="usa-form">
        <fieldset      class="usa-fieldset">
            <input name="page" value="{{ currentPage }}" type="hidden" />
            {{ forms.field_select('committee_id', 'committee_id', _('committee'), committee ? committee.getId() : '', committees, false, { onchange:'this.form.submit();' } ) }}
            {{ forms.field_select('sort', 'sort', _('sort'), sort, sorts, false, { onchange:'this.form.submit();' } ) }}
            {{ forms.button('submit', _('filter'), 'search') }}
        </fieldset>
    </form>

    {% if reports %}
    <ul class="usa-collection usa-collection--condensed margin-top-3">
    {% for r in reports %}
    <li         class="usa-collection__item">
        <div    class="usa-collection__body">
            <h3 class="usa-collection__heading">
                <a class="usa-link" href="{{ uri('reports.download', { report_id: r.id }) }}">
                    {{ r.title ?? _('noTitle') }}
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use href="{{ USWDS_URL }}/img/sprite.svg#file_present"></use>
                    </svg>
                </a>
            </h3>
            <ul     class="usa-collection__meta" aria-label="More information">
                {% if not committee %}
                <li class="usa-collection__meta-item position-relative">
                    <strong>{{ r.committee }}</strong>
                </li>
                {% endif %}
                <li class="usa-collection__meta-item position-relative">
                    <strong>{{ _('date') }}:</strong> {{ r.date }}
                </li>
            </ul>
            {% if r.actionLinks %}
            {{ include('html/partials/actionLinks.twig', {actionLinks:r.actionLinks}, with_context=false) }}
            {% endif %}
        </div>
    </li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
