{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Report    report
 * @param Committee committee
 *
 * Metadata
 * @param string accept     Comma separated mime_types that are accepted
 * @param int    maxBytes   Max upload size in bytes
 * @param string maxSize    Max upload size, human readable
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig"      as forms      %}
{% block content %}

<form class="usa-form" method="post" enctype="multipart/form-data">
    <fieldset class="usa-fieldset">
        <legend class="usa-legend usa-legend--large">{{ report.getId() ? _('report_edit') : _('report_add') }}</legend>
        <input name="committee_id" type="hidden" value="{{ report.getCommittee_id() }}" />

        {{ forms.field_text('title', 'title', _('title'), report.title, true )}}
        {{ forms.field_date('reportDate', 'reportDate', _('date'), report.getReportDate('Y-m-d'), true) }}

        {% if report.getFilename() -%}
        <div class="margin-top-3"><a href="{{ uri('reports.download', {id: report.getId()}) }}">{{ report.getFilename() }}</a></div>
        {%- endif %}
        {{ forms.field_file('reportFile', 'reportFile', _('report'), report,
                            accept, maxSize, maxBytes, false, {},
                            accept ~ ' - ' ~ maxSize) }}

        {{ forms.button('submit', _('save'), 'save') }}
        {{ forms.actionLink(uri('reports.index') ~ '?committee_id=' ~ report.getCommittee_id(), _('cancel') ) }}

    </fieldset>
</form>
{% endblock %}
