{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Meeting   meeting
 * @param Committee committee
 * @param array     attendance         (RAW Data)
 * @param array     attendance_options Array of strings
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig"      as forms %}
{% block content %}
<h2>{{ meeting.getStart()|date("F j, Y") }}  {{ meeting.getStart()|date("g:ia") }} - {{ meeting.getEnd()|date("g:ia") }}</h2>
<p>{{ meeting.getLocation() }}
    {% if meeting.getHtmlLink() -%}
    <div><a href="{{ meeting.getHtmlLink() }}" class="usa-link">Google Calendar</a><div>
    {%- endif %}
</p>

<form method="post" class="usa-form" >
    <fieldset       class="usa-fieldset">
        <legend     class="usa-legend usa-legend--large">{{ _('edit_attendance') }}</legend>
        <table      class="usa-table usa-table--borderless usa-table--compact">
            <thead>
                <tr>
                    <th scope="col">{{ _('name') }}</th>
                    <th scope="col">{{ _('attendance_status') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for m in attendance %}
            <tr><th scope="row">{{ m.firstname }} {{ m.lastname }}</th>
                <td><select name="members[{{ m.member_id }}]">
                        <option value=""></option>
                        {% for o in attendance_options %}
                        <option {{ o==m.attendance ? 'selected="true"' : '' }}>{{ o }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ forms.button('submit', _('save'), 'save') }}
        {{ forms.actionLink(uri('meetings.view', {id: meeting.getId()}), _('cancel') ) }}
    </fieldset>
</form>

{% endblock %}
