{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Meeting   meeting
 * @param Committee committee
 * @param array     files
 * @param array     attendance  (RAW Data)
 * @param string    attendanceNotes
 * @param array     actionLinks
 * @param array     warehouse
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig"      as forms %}
{% block content %}
<h2>{{ meeting.getStart()|date("F j, Y") }}  {{ meeting.getStart()|date("g:ia") }} - {{ meeting.getEnd()|date("g:ia") }}</h2>
<h2>{{ meeting.getTitle() }}</h2>
<p>{{ meeting.getLocation() }}
    {% if meeting.getHtmlLink() -%}
    <div><a href="{{ meeting.getHtmlLink() }}" class="usa-link">Google Calendar</a></div>
    {%- endif %}
</p>

<h3>{{ _('attendance') }}</h3>
{% if isAllowed('meetings', 'attendance') %}
    {{ forms.actionLink(uri('meetings.attendance', {id: meeting.getId()} ), _('edit'), 'edit' ) }}
{% endif %}
{% if attendance %}
<table class="usa-table usa-table--compact">
    <thead>
        <tr>
            <th scope="col">{{ _('name') }}</th>
            <th scope="col">{{ _('attendance_status') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for m in attendance %}
    <tr>
        <th scope="row">{{ m.firstname }} {{ m.lastname }}</th>
        <td>{{ m.attendance }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% if attendanceNotes %}
<p>{{ attendanceNotes }}</p>
{% endif %}

<h3>{{ _(['meetingFile', 'meetingFiles', 10]) }}</h3>

{% if isAllowed('meetingFiles', 'add') %}
    {{ forms.actionLink(uri('meetingFiles.add') ~ '?meeting_id=' ~ meeting.getId(), _('add'), 'add' )}}
{% endif %}
<ul class="usa-collection usa-collection--condensed margin-top-3">
    {% for f in files %}
    <li         class="usa-collection__item">
        <div    class="usa-collection__body">
            <h3 class="usa-collection__heading">
                <a class="usa-link" href="{{ uri('meetingFiles.download', {id: f.id}) }}">
                    {{ f.title ?? _('noTitle') }}
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use href="{{ USWDS_URL }}/img/sprite.svg#file_present"></use>
                    </svg>
                </a>
            </h3>
            <ul     class="usa-collection__meta" aria-label="More information">
                <li class="usa-collection__meta-item position-relative">
                    <strong>{{ _('type') }}:</strong> {{ f.type }}
                </li>
            </ul>
            {% if f.actions is defined %}
            {{ include('html/partials/actionLinks.twig', {actionLinks:f.actions}, with_context=false ) }}
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>

{% if warehouse %}
{{ include('html/warehouse/meetings/info.twig') }}
{% endif %}

{% endblock %}
