{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array     meetings
 * @param Committee committee
 * @param array     files
 * @param array     actionLinks
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig"      as forms %}
{% block content %}
<h3>{{ meeting.getStart() }} - {{ meeting.getEnd() }}</h3
<p>{{ meeting.getLocation() }}</p>

{% if actionLinks %}
{{ include('html/partials/actionLinks.twig') }}
{% endif %}

<ul class="usa-collection usa-collection--condensed margin-top-3">
    {% for f in files %}
    <li class="usa-collection__item">
            <div class="usa-collection__body">
                <h3 class="usa-collection__heading">
                    <a class="usa-link" href="{{ uri('meetingFiles.download', {id: f.id}) }}">
                        {{ f.title ?? _('noTitle') }}
                        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                            <use href="/static/uswds/dist/img/sprite.svg#file_present"></use>
                        </svg>
                    </a>
                </h3>
                <ul class="usa-collection__meta" aria-label="More information">
                <li class="usa-collection__meta-item position-relative">
                    <strong>{{ _('type') }}:</strong> {{ f.type }}
                </li>
            </ul>
            {% if f.actions %}
            {{ include('html/partials/actionLinks.twig', {actionLinks:f.actions}, with_context=false ) }}
            {% endif %}
    {% endfor %}
</ul>

{% if meeting.getHtmlLink() -%}
<a href="{{ meeting.getHtmlLink() }}" class="card-link">Google Calendar</a>
{%- endif %}

{% endblock %}
