{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array     meetings
 * @param Committee committee
 *
 * Search form drop down options
 * @param array     committees
 * @param array     years
 * @param array     fileTypes
 * @oaram array     sorts
 *
 * Search for parameters
 * @param int       year
 * @param DateTime  start
 * @param DateTime  end
 *
 * Meetings are a multi-dimension array by date and time.  For each
 * day, there are several meetings.  These are indexed by meeting time.
 #}
{% set t = committee ? 'html/layouts/committee.twig' : 'html/layouts/default.twig' %}
{% extends t %}
{% import  "html/macros/forms.twig"      as forms %}
{% import  "html/macros/pagination.twig" as pagination %}
{% block content %}
<section>
    <header>
        <h2>{{ _(['meeting', 'meetings', 10]) }}</h2>
        {% if committee %}
        <div>Last Sync: {{ committee.getSynced(DATETIME_FORMAT) }}</div>
        {% endif %}
        {% if actionLinks %}
        {{ include('html/partials/actionLinks.twig') }}
        {% endif %}
    </header>
    <form class="usa-form" method="get">
        <fieldset class="usa-fieldset">
            {{ forms.field_select('committee_id', 'committee_id', _('committee'), committee ? committee.getId() : '', committees, false, { onchange:'this.form.submit();' } ) }}
            {{ forms.field_select('year',     'year',     _('year'), year,     years,     false, { onchange:'this.form.submit();' } ) }}
            {{ forms.field_select('fileType', 'fileType', _('meetingFile_type'), fileType, fileTypes, false, { onchange:'this.form.submit();' } ) }}
            {{ forms.field_select('sort',     'sort',     _('sort'), sort,     sorts,     false, { onchange:'this.form.submit();' } ) }}

            {{ forms.button('submit', _('filter'), 'search') }}
        </fieldset>
    </form>

    <ul class="usa-card-group margin-top-3">
    {% for date, t in meetings %}
        {% for time, tm in t %}
            {% for m in tm %}
        <li class="margin-bottom-2 grid-col-12">
            <div        class="usa-card__container">
                <div    class="usa-card__header">
                    <h3><a class="usa-link" href="{{ uri('meetings.view', { meeting_id: m.id }) }}">
                            {{ m.start|date(DATE_FORMAT) }} {{ m.start|date(TIME_FORMAT) }} - {{ m.end|date(TIME_FORMAT) }}
                        </a>
                    </h3>
                    <strong>{{ m.title }}</strong>
                    <div>{{ m.location }}</div>
                    {% if m.htmlLink -%}
                    <div>
                        <a class="usa-link" href="{{ m.htmlLink }}">Google Calendar</a>
                    </div>
                    {%- endif %}
                </div>
                {% if m.files -%}
                <div class="usa-card__footer">
                    {% for type, t in m.files %}
                    {% for f in t %}
                    <div><strong>{{ f.type }}:</strong>
                        <a class="usa-link" href="{{ uri('meetingFiles.download', { meetingFile_id: f.id }) }}">
                            {{ f.title ?? f.filename }}
                        </a>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
                {%- endif %}
            </div>
        </li>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </ul>

    {% if not meetings %}
    <div>{{ _('no_results', 'messages')|format(_(['meeting', 'meetings', 10])) }}</div>
    {% endif %}


    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
