{#
 * @copyright 2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Alternate alternate
 * @param Committee committee
 * @param array     actionLinks
 * @param Seat      seat      (optional)
 * @param Term      term      (optional)
 #}
{% extends "html/layouts/committee.twig" %}
{% block content %}
<section>
    <header>
        <h2>{{ alternate.getPerson().getFirstname() }} {{ alternate.getPerson().getLastname() }}</h2>
        {% if actionLinks %}
        {{ include('html/partials/actionLinks.twig') }}
        {% endif %}
    </header>
    {% if term %}
    {{ include('html/terms/partials/info.twig') }}
    {% endif %}

    {% if seat %}
    {{ include('html/seats/partials/seat_info.twig') }}
    {% endif %}
</section>

{% endblock %}
