<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="//bloomington.in.gov/static/citylogo-64.png" />
    <title>{{ title is defined ? title : APPLICATION_NAME }}</title>
    <script>
        var BASE_URL  = '{{ BASE_URL  }}',
            BASE_URI  = '{{ BASE_URI  }}';
    </script>
    <link rel="stylesheet" href="{{ USWDS_URL }}/css/uswds.min.css" />
    <link rel="stylesheet" href="{{ BASE_URI }}/css/screen.css" />
    <script src="{{ USWDS_URL }}/js/uswds-init.min.js"></script>
</head>
