<header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <div class="usa-logo">
                <a class="grid-row" href="{{ BASE_URI }}" title="City of Bloomington, Indiana>">
                    <img src="//bloomington.in.gov/static/snowflake-blue.svg"
                         alt="City of Bloomington Logo"
                         class="grid-col-auto maxh-5 margin-right-105" />
                    <em class="usa-logo__text font-sans-lg grid-col-auto margin-y-auto">{{ APPLICATION_NAME }}</em>
                </a>
            </div>
            <button type="button" class="usa-menu-btn">Menu</button>
        </div>
        <nav aria-label="Primary navigation" class="usa-nav">
            <button type="button" class="usa-nav__close">
                <img src="{{ USWDS_URL }}/img/usa-icons/close.svg" role="img" alt="Close" />
            </button>
            <ul class="usa-nav__primary usa-accordion">
                {% if isAllowed('committees', 'index') %}
                <li class="usa-nav__primary-item">
                    <a href="{{ uri('committees.index') }}" class="usa-nav-link {{ (ROUTE_NAME in ['committees.index', 'home.index']) ? 'usa-current' : '' }}">{{ _(['committee', 'committees', 10]) }}</a>
                </li>
                {% endif %}
                {% if isAllowed('meetingFiles', 'index') %}
                <li class="usa-nav__primary-item">
                    <a href="{{ uri('meetingFiles.index') }}"
                       class="usa-nav-link {{ ROUTE_NAME in ['meetingFiles.index', 'meetingFiles.add', 'meetingFiles.update'] ? 'usa-current' : '' }}">
                        {{ _(['meetingFile', 'meetingFiles', 10]) }}
                    </a>
                </li>
                {% endif %}
                {% if isAllowed('people', 'index') %}
                <li class="usa-nav__primary-item">
                    <a href="{{ uri('people.index') }}" class="usa-nav-link {{ ROUTE_NAME starts with 'people.' ? 'usa-current' : '' }}">{{ _(['person', 'people', 10]) }}</a>
                </li>
                {% endif %}
                {% if isAllowed('seats', 'index') %}
                <li class="usa-nav__primary-item">
                    <a href="{{ uri('seats.index') }}" class="usa-nav-link {{ ROUTE_NAME starts with 'seats.' ? 'usa-current' : '' }}">{{ _(['seat', 'seats', 10]) }}</a>
                </li>
                {% endif %}
                {% if isAllowed('liaisons', 'index') %}
                <li class="usa-nav__primary-item">
                    <a href="{{ uri('liaisons.index') }}" class="usa-nav-link {{ ROUTE_NAME starts with 'liaisons.index' ? 'usa-current' : '' }}">{{ _(['liaison', 'liaisons', 10]) }}</a>
                </li>
                {% endif %}

                {% if USER is defined %}
                <li class="usa-nav__primary-item">
                    <button class="usa-accordion__button outline-1px" type="button" aria-controls="user-nav" aria-expanded="false">
                        <span>{{ USER.getFullname() }}</span>
                    </button>
                    <ul id="user-nav" class="usa-nav__submenu">
                        <li class="usa-nav__submenu-item"><a href="{{ uri('profile.index') }}">{{ _('my_profile') }}</a></li>
                        <li class="usa-nav__submenu-item"><a href="{{ uri('login.logout' ) }}">{{ _('logout'    ) }}</a></li>
                        {% if isAllowed('settings', 'index') %}
                        <li class="usa-nav__submenu-item"><a href="{{ uri('settings.index') }}">{{ _('settings') }}</a></li>
                        {% endif %}
                        <li class="usa-nav__submenu-item"><a href="{{ BASE_URI }}/guide">User Guide</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>

            {% if not USER is defined %}
            <a class="usa-button" type="button" href="{{ url('login.index' ) ~ '?return_url=' ~ REQUEST_URI }}">{{ _('login') }}</a>
            {% endif %}
        </nav>
    </div>
</header>
