{#
 * @copyright 2018-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 *
 * @param array  search Search parameters
 * @param array  users  Search Results
 *
 * Pagination
 * @param int    total
 * @param int    itemsPerPage
 * @param int    currentPage
 *
 * Metadata
 * @param array  departments
 * @param array  roles
 * @param string return_url
#}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}
{% import  "html/macros/forms.twig"      as forms      %}
{% block content %}
<section>
    <header>
        <h2>{{ _(['user', 'users', 100]) }}</h2>
    </header>
    {% if actionLinks %}
    {% for l in actionLinks %}
    {{ forms.actionLink(l.url, l.label, l.class) }}
    {% endfor %}
    {% endif %}
    <form method="get" class="usa-form">
        <fieldset      class="usa-fieldset">
            {{ forms.field_text('firstname', 'firstname', _('firstname'), search.firstname ?? '' )}}
            {{ forms.field_text('lastname',  'lastname',  _('lastname'),  search.lastname  ?? '' )}}
            {{ forms.field_text('username',  'username',  _('username'),  search.username  ?? '' )}}
            {{ forms.field_text('email',     'email',     _('email'),     search.email     ?? '' )}}

            {{ forms.field_select('department_id', 'department_id', _('department'), search.department_id ?? '', departments, false, {onchange:'this.form.submit();'} )}}
            {{ forms.field_select('role',          'role',          _('role'      ), search.role          ?? '',       roles, false, {onchange:'this.form.submit();'} )}}

            {{ forms.button('submit', _('search'), 'search') }}
            {{ forms.actionLink(uri('users.index'), _('cancel'), 'cancel') }}
        </fieldset>
    </form>

    {% if users %}
    <table class="usa-table usa-table--compact">
        <thead>
            <tr><th>{{ _('username'  ) }}</th>
                <th>{{ _('name'      ) }}</th>
                <th>{{ _('role'      ) }}</th>
                <th>{{ _('department') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for u in users %}
            {% set link=uri('people.view', { person_id: u.id }) %}
            <tr><td><a href="{{ link }}">{{ u.username }}</a></td>
                <td><a href="{{ link }}">{{ u.firstname }} {{ u.lastname }}</a></td>
                <td><a href="{{ link }}">{{ u.role }}</a></td>
                <td><a href="{{ link }}">{{ u.department }}</a></td>
                <td>{% if isAllowed('users', 'update') %}
                    {{ forms.actionLink(uri('users.update', { person_id: u.id }) ~ '?return_url=' ~ return_url,
                                          _('edit_account'),
                                            'edit') }}
                    {% endif %}
                    {% if isAllowed('users', 'delete') %}
                    {{ forms.actionLink(uri('users.delete', { person_id: u.id }), _('delete_account'), 'delete') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if total > itemsPerPage %}
    {{ pagination.pageLinks(REQUEST.uri.path, search, total, itemsPerPage, currentPage) }}
    {% endif %}
</section>
{% endblock %}
