{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Person user
 *
 * Metadata
 * @param array  departments
 * @param array  roles
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section class="grid-container">
    <header>
        <h1>{{ user.getFullname() }}</h1>
        <h2>{{ user.getId() ? _('edit_account') : _('create_account') }}</h2>
    </header>

    <form method="post" class="usa-form">
        <fieldset       class="usa-fieldset">
            {{ forms.field_text('username', 'username', _('username'), user.username, true )}}
            {{ forms.field_email('email', 'email', _('email'), user.email )}}

            {{ forms.field_select('role', 'role', _('role'), user.role, roles, true )}}
            {{ forms.field_select('department_id', 'department_id', _('department'), user.department_id, departments )}}

            {{ forms.button('submit', _('save'), 'save') }}
            {{ forms.actionLink(uri('users.index'), _('cancel'), 'cancel') }}
        </fieldset>
    </form>

    {% if user.id %}
    {{ include('html/people/partials/info.twig', {person:user}, with_context=false) }}
    {% endif %}
</section>

<section class="grid-container">
    <header><h2>{{ _(['email', 'emails', 10]) }}</h2></header>
    <table>
    {% for e in user.getEmails() %}
    <tr><td>{{ e.email }}</td>
        <td>{% if e.main %}<span class="usa-tag">{{ _('main') }}</span>{% endif %}</td>
    </tr>
    {% endfor %}
    </table>
</section>

<section class="grid-container">
    <header><h2>{{ _(['phone', 'phones', 10]) }}</h2></header>
    <table>
    {% for p in user.getPhones() %}
    <tr><td>{{ p.number }}</td>
        <td>{% if p.main %}<span class="usa-tag">{{ _('main') }}</span>{% endif %}</td>
    </tr>
    {% endfor %}
    </table>
</section>

{% endblock %}
