{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Type   type
 * @param string title
 #}


 <!-- Note: fix issues-->
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>
    <header>
        <h1>{{ action.id ? 'Edit Legislation Action' : 'New Legislation Action' }}</h1>
    </header>
    <form method="post" action="{{ uri('legislation.action.update', {'legislationAction_id': action.id}) }}">
        <fieldset>
            <input type="hidden" name="legislationAction_id" value="{{ action.id }}">

            <dl class="form-group">
                <dt><label for="legislation_id">Legislation ID</label></dt>
                <dd>
                    <input type="text" name="legislation_id" id="legislation_id" value="{{ action.legislation_id }}" class="form-control" required>
                </dd>
            </dl>
            <dl class="form-group">
                <dt><label for="type_id">Type ID</label></dt>
                <dd>
                    <input type="text" name="type_id" id="type_id" value="{{ action.type_id }}" class="form-control">
                </dd>
            </dl>
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{{ uri('legislation.action.index') }}" class="btn btn-secondary">Cancel</a>
        </fieldset>
    </form>
</section>
{% endblock %}

