{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     notes
 * @param array     applications_current
 * @param array     applications_archived
 * @param array     actionLinks
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <header>
        <h2>{{ _(['application', 'applications', 10]) }}</h2>
        {% if actionLinks %}
        {{ include('html/partials/actionLinks.twig') }}
        {% endif %}
    </header>

    <table class="usa-table">
    <thead>
        <tr>
            <th>{{ _('created') }}</th>
            <th>{{ _('name'   ) }}</th>
            <th>{{ _('expires') }}</th>
            <th>{{ _('actions') }}</th>
        </tr>
    </thead>
    <tbody>
        {% set canView = isAllowed('applications', 'view') %}

        {% for a in applications_current %}
        <tr>
            <td>{{ a.created }}</td>
            <td>{% if canView %}
                <a class="usa-link" href="{{ uri('applications.view', { application_id: a.id }) }}">
                    {{ a.person }}
                </a>
                {% else %}
                {{ a.person }}
                {% endif %}
                {% if a.current_member %}
                <div class="usa-tag margin-left-1">{{ _('current_member') }}</div>
                {% endif %}

                {% for k, v in a.validations %}
                <div class="usa-tag">{{ k }}: {{ v }}</div>
                {% endfor %}
            </td>
            <td>{{ a.expires }}</td>
            <td>{% if a.actionLinks %}
                {{ include('html/partials/actionLinks.twig', { actionLinks:a.actionLinks }, with_context=false) }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</section>

{% if isAllowed('committees.notes', 'view') %}
<section>
    <header><h2>{{ _(['note', 'notes', 10]) }}</h2></header>
    {% if isAllowed('committees.notes', 'add') %}
    {{ forms.actionLink(uri('committees.notes.add', { committee_id: committee.id }), _('note_add'), 'comment') }}
    {% endif %}

    <div class="usa-card-group">
    {% for n in notes %}
    <article class="usa-card">
        <div class="usa-card__container">
            <div class="usa-card__body">
                {{ n.note }}
            </div>
            <footer class="usa-card__footer">
                <div>{{ n.person }} - {{ n.created }}</div>
                {% if n.actionLinks %}
                <div>
                {{ include('html/partials/actionLinks.twig', { actionLinks: n.actionLinks }, with_context: false ) }}
                </div>
                {% endif %}
            </footer>
        </div>
    </article>
    {% endfor %}
    </div>
</section>
{% endif %}

<section>
    <header>
        <h2>{{ _('applications_archived') }}</h2>
    </header>

    <table class="usa-table">
        <thead>
            <tr><th>{{ _('created' ) }}</th>
                <th>{{ _('name'    ) }}</th>
                <th>{{ _('archived') }}</th>
                <th>{{ _('actions') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for a in applications_archived %}
            <tr><td>{{ a.created }}</td>
                <td>{% if canView %}
                    <a class="usa-link" href="{{ uri('people.view', { person_id: a.person_id}) }}">
                        {{ a.person }}
                    </a>
                    {% else %}
                    {{ a.person }}
                    {% endif %}
                </td>
                <td>{{ a.archived }}</td>
                <td>{% if a.actionLinks %}
                    {{ include('html/partials/actionLinks.twig', {actionLinks:a.actionLinks}, with_context=false) }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
