{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee (optional)
 #}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ BASE_URI }}">{{ _(['committee', 'committees', 10]) }}</a></li>
        {% if committee is defined %}
        <li class="breadcrumb-item"><a href="{{ uri('committees.info') }}?committee_id={{ committee.getId() }}">{{ committee.getName() }}</a></li>
        {% endif %}
    </ol>
</nav>
