{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array committees
 * @param bool  current
 * @param array actionLinks
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section class="my-3">
    <header class="d-flex flex-wrap mb-3">
        <h1 class="me-3">{{ _(['committee', 'committees', 10]) }}</h1>
        {% if actionLinks %}
            {{ include('html/partials/actionLinks.twig') }}
        {% endif %}
    </header>
    <table class="table table-hover table-bordered">
        <thead>
            <tr><th>Name</th>
                <th>{{ _(['seat',    'seats',     10]) }}</th>
                <th>{{ _(['vacancy', 'vacancies', 10]) }}</th>
                {% if isAllowed('committees', 'applications') %}
                <th>{{ _(['application', 'applications', 10]) }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for c in committees %}
            <tr><td><a href="{{ uri('committees.info') }}?committee_id={{ c.id }}">{{ c.name }}</a></td>
                <td>{{ c.seats    ==0 ? '' : c.seats     }}</td>
                <td>{{ c.vacancies==0 ? '' : c.vacancies }}</td>
                {% if isAllowed('committees', 'applications') %}
                <td>{{ c.applications==0 ? '' : c.applications }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ uri('committees.index') }}?current=0">{{ _('committees_past') }}</a>
</section>
{% endblock %}
