{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array data
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <header><h2>{{ _('committee_end') }}</h2></header>

    <form method="post" class="usa-form" >
        <fieldset       class="usa-fieldset usa-fieldset--large">
            {{ forms.field_date('endDate', 'endDate', _('endDate'), 'now'|date('Y-m-d'), true) }}
        </fieldset>

        {{ forms.button('submit', _('save'), 'save') }}

        {% if committee.getId() %}
        {{ forms.actionLink(uri('committees.info', {id: committee.getId()}), _('cancel') ) }}
        {% else %}
        {{ forms.actionLink(uri('committees.index'), _('cancel') ) }}
        {% endif %}
    </form>
</section>
{% endblock %}
