{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param int       vacancies   Number of current vacancies
 * @param array     actionLinks (optional)
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>
    <header>
        <h2>{{ committee.getName() }}
            {% if vacancies %}({{ vacancies }} {{ _(['vacancy', 'vacancies', vacancies]) }}){% endif %}
        </h2>
        {{ include('html/committees/partials/header.twig') }}
    </header>
    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}
    <div>
        <table>
            {% if committee.getType()          %}<tr><th>{{ _('type'         ) }}</th><td>{{ committee.getType()          }}</td></tr>{% endif %}
            {% if committee.getYearFormed()    %}<tr><th>{{ _('yearFormed'   ) }}</th><td>{{ committee.getYearFormed()    }}</td></tr>{% endif %}
            {% if committee.getEndDate()       %}<tr><th>{{ _('endDate'      ) }}</th><td>{{ committee.getEndDate()       }}</td></tr>{% endif %}
            {% if committee.getStatutoryName() %}<tr><th>{{ _('statutoryName') }}</th><td>{{ committee.getStatutoryName() }}</td></tr>{% endif %}
            {% if committee.getCode()          %}<tr><th>{{ _('code'         ) }}</th><td>{{ committee.getCode()          }}</td></tr>{% endif %}
            {% if committee.getWebsite()       %}<tr><th>{{ _('website'      ) }}</th><td>{{ committee.getWebsite()       }}</td></tr>{% endif %}
            {% if committee.getVideoArchive()  %}<tr><th>{{ _('videoArchive' ) }}</th><td>{{ committee.getVideoArchive()  }}</td></tr>{% endif %}
            {% if committee.getEmail()         %}<tr><th>{{ _('email'        ) }}</th><td>{{ committee.getEmail()         }}</td></tr>{% endif %}
            {% if committee.getPhone()         %}<tr><th>{{ _('phone'        ) }}</th><td>{{ committee.getPhone()         }}</td></tr>{% endif %}
            {% if committee.getAddress()       %}<tr><th>{{ _('address'      ) }}</th><td>{{ committee.getAddress()       }}</td></tr>{% endif %}
            {% if committee.getCalendarId()    %}<tr><th>{{ _('calendarId'   ) }}</th><td><a href="https://calendar.google.com/calendar/embed?src={{ committee.getCalendarId() }}">{{ committee.getCalendarId() }}</a></td></tr>{% endif %}
            <tr><th>{{ _('legislative') }}</th><td>{{ committee.getLegislative() ? _('yes') : _('no') }}</td></tr>
            <tr><th>{{ _('alternates' ) }}</th><td>{{ committee.getAlternates()  ? _('yes') : _('no') }}</td></tr>
            {% if isAllowed('committees', 'update') %}
            <tr><th>{{ _('termEndWarningDays' ) }}</th><td>{{ committee.getTermEndWarningDays()  }}</td></tr>
            <tr><th>{{ _('applicationLifetime') }}</th><td>{{ committee.getApplicationLifetime() }}</td></tr>
            {% endif %}
        </table>

        {{ committee.getDescription()|markdown_to_html }}

        <h3>{{ _('meetingSchedule') }}</h3>
        {{ committee.getMeetingSchedule()|markdown_to_html }}
    </div>
</section>
{% endblock %}
