{#
 * @copyright 2024-2026 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     actionLinks
 *
 * @see LiasonTable::$dataFields
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <header>
        <h2>{{ _('committee_info') }}</h2>
        {% if actionLinks %}
        {{ include('html/partials/actionLinks.twig') }}
        {% endif %}
    </header>

    <table>
        <tbody>
        {% if committee.type          %}<tr><th>{{ _('type'         ) }}</th><td>{{ committee.type               }}</td></tr>{% endif %}
        {% if committee.yearFormed    %}<tr><th>{{ _('yearFormed'   ) }}</th><td>{{ committee.yearFormed         }}</td></tr>{% endif %}
        {% if committee.endDate       %}<tr><th>{{ _('endDate'      ) }}</th><td>{{ committee.getEndDate(DATE_FORMAT) }}</td></tr>{% endif %}
        {% if committee.statutoryName %}<tr><th>{{ _('statutoryName') }}</th><td>{{ committee.statutoryName      }}</td></tr>{% endif %}
        {% if committee.code          %}<tr><th>{{ _('code'         ) }}</th><td>{{ committee.code               }}</td></tr>{% endif %}
        {% if committee.website       %}<tr><th>{{ _('website'      ) }}</th><td><a class="usa-link" href="{{ committee.website      }}">{{ committee.website      }}</a></td></tr>{% endif %}
        {% if committee.videoArchive  %}<tr><th>{{ _('videoArchive' ) }}</th><td><a class="usa-link" href="{{ committee.videoArchive }}">{{ committee.videoArchive }}</a></td></tr>{% endif %}
        {% if committee.email         %}<tr><th>{{ _('email'        ) }}</th><td><a class="usa-link" href="mailto:{{ committee.email }}">{{ committee.email        }}</a></td></tr>{% endif %}
        {% if committee.phone         %}<tr><th>{{ _('phone'        ) }}</th><td>{{ committee.phone              }}</td></tr>{% endif %}
        {% if committee.address       %}<tr><th>{{ _('address'      ) }}</th><td>{{ committee.address            }}</td></tr>{% endif %}
        {% if committee.calendarId    %}<tr><th>{{ _('calendarId'   ) }}</th><td><a class="usa-link" href="https://calendar.google.com/calendar/embed?src={{ committee.calendarId }}">{{ committee.calendarId }}</a></td></tr>{% endif %}
        {% if isAllowed('committees', 'update') %}
                {% if committee.hasTerms() %}<tr><th>{{ _('termEndWarningDays' ) }}</th><td>{{ committee.termEndWarningDays  }}</td>{% endif %}
       {% if committee.takesApplications() %}<tr><th>{{ _('applicationLifetime') }}</th><td>{{ committee.applicationLifetime }}</td>{% endif %}
        {% endif %}
        <tr><th>{{ _('legislative') }}</th><td>{{ committee.isLegislative    ? _('yes') : _('no') }}</td></tr>
        <tr><th>{{ _('alternates' ) }}</th><td>{{ committee.allowsAlternates ? _('yes') : _('no') }}</td></tr>
        </tbody>
    </table>

    {% if committee.description %}
    <h3>{{ _('committee_desc') }}</h3>
    {{ committee.description|markdown_to_html }}
    {% endif %}

    {% if committee.meetingSchedule %}
    <h3>{{ _('meetingSchedule') }}</h3>
    {{ committee.meetingSchedule|markdown_to_html }}
    {% endif %}

    <h3>{{ _(['department', 'departments', 10]) }}</h3>
    <ul>{% for d in committee.departments %}
        <li>{% if isAllowed('departments', 'info') %}
            <a href="{{ uri('departments.info', { department_id: d.id } ) }}">{{ d.name }}</a>
            {% else %}
            {{ d.name }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
