{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     liaisons
 * @param array     statutes
 * @param array     statuteLinks
 * @param array     actionLinks
 *
 * @see LiasonTable::$dataFields
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section class="container my-3">
    <header class="mb-3">
            <h1>{{ committee.getName() }}
                {% set vacancies = committee.getVacancyCount() %}
                {% if vacancies %}({{ vacancies }} {{ _(['vacancy', 'vacancies', vacancies]) }}){% endif %}
            </h1>
        {{ include('html/committees/partials/header.twig') }}
    </header>
    <div class="d-flex">
        <h2 class="me-3">{{ _('committee_info') }}</h2>
        {% if actionLinks %}
        {{ include('html/partials/actionLinks.twig') }}
        {% endif %}
    </div>
    <dl class="row">
        {% if committee.getType()          %}<dt class="col-sm-3">{{ _('type'         ) }}</dt><dd class="col-sm-9">{{ committee.getType()               }}</dd>{% endif %}
        {% if committee.getYearFormed()    %}<dt class="col-sm-3">{{ _('yearFormed'   ) }}</dt><dd class="col-sm-9">{{ committee.getYearFormed()         }}</dd>{% endif %}
        {% if committee.getEndDate()       %}<dt class="col-sm-3">{{ _('endDate'      ) }}</dt><dd class="col-sm-9">{{ committee.getEndDate(DATE_FORMAT) }}</dd>{% endif %}
        {% if committee.getStatutoryName() %}<dt class="col-sm-3">{{ _('statutoryName') }}</dt><dd class="col-sm-9">{{ committee.getStatutoryName()      }}</dd>{% endif %}
        {% if committee.getCode()          %}<dt class="col-sm-3">{{ _('code'         ) }}</dt><dd class="col-sm-9">{{ committee.getCode()               }}</dd>{% endif %}
        {% if committee.getWebsite()       %}<dt class="col-sm-3">{{ _('website'      ) }}</dt><dd class="col-sm-9"><a href="{{ committee.getWebsite() }}">{{ committee.getWebsite() }}</a></dd>{% endif %}
        {% if committee.getVideoArchive()  %}<dt class="col-sm-3">{{ _('videoArchive' ) }}</dt><dd class="col-sm-9">{{ committee.getVideoArchive()       }}</dd>{% endif %}
        {% if committee.getEmail()         %}<dt class="col-sm-3">{{ _('email'        ) }}</dt><dd class="col-sm-9">{{ committee.getEmail()              }}</dd>{% endif %}
        {% if committee.getPhone()         %}<dt class="col-sm-3">{{ _('phone'        ) }}</dt><dd class="col-sm-9">{{ committee.getPhone()              }}</dd>{% endif %}
        {% if committee.getAddress()       %}<dt class="col-sm-3">{{ _('address'      ) }}</dt><dd class="col-sm-9">{{ committee.getAddress()            }}</dd>{% endif %}
        {% if committee.getCalendarId()    %}<dt class="col-sm-3">{{ _('calendarId'   ) }}</dt><dd class="col-sm-9"><a href="https://calendar.google.com/calendar/embed?src={{ committee.getCalendarId() }}">{{ committee.getCalendarId() }}</a></dd>{% endif %}
        {% if isAllowed('committees', 'update') %}
        <dt class="col-sm-3">{{ _('termEndWarningDays' ) }}</dt><dd class="col-sm-9">{{ committee.getTermEndWarningDays()  }}</dd>
        <dt class="col-sm-3">{{ _('applicationLifetime') }}</dt><dd class="col-sm-9">{{ committee.getApplicationLifetime() }}</dd>
        {% endif %}
    </dl>

    {% if committee.getDescription() %}
    <h3>{{ _('committee_desc') }}</h3>
    {{ committee.getDescription()|markdown_to_html }}
    {% endif %}

    {% if committee.getMeetingSchedule() %}
    <h3>{{ _('meetingSchedule') }}</h3>
    {{ committee.getMeetingSchedule()|markdown_to_html }}
    {% endif %}

    <div class="d-flex">
        <h3 class="me-3">{{ _(['committeeStatute', 'committeeStatutes', 10]) }}</h3>
        {% if statuteLinks %}
        {{ include('html/partials/actionLinks.twig', {actionLinks:statuteLinks}, with_context=false) }}
        {% endif %}
    </div>
    <ul class="list-group list-group-flush row">
    {% for s in statutes %}
            <li class="d-flex list-group-item">
                <h4 class="me-3"><a href="{{ s.url }}">{{ s.citation }}</a></h4>
                {{ include('html/partials/actionLinks.twig', {actionLinks:s.actionLinks}, with_context=false) }}
            </li>
    {% endfor %}
    </ul>

    <div class="d-flex">
        <h3 class="me-3">{{ _(['liaison', 'liaisons', 10]) }}</h3>
        {% if isAllowed('liaisons', 'update') %}
        {{ forms.actionLink(uri('liaisons.update'), _('liaison_add'), 'add') }}
        {% endif %}
    </div>
    {% if liaisons %}
    <table class="table table-sm">
      <thead>
        <tr>
            <th scope="col">{{ _('type') }}</th>
            <th scope="col">{{ _('name') }}</th>
            {% if isAllowed('people', 'viewContactInfo') %}
            <th scope="col">{{ _(['email', 'emails', 1]) }}</th>
            <th scope="col">{{ _('phone') }}</th>
            {% endif %}
            {% if isAllowed('liaisons', 'update') %}
            <th scope="col">{{ _('liaison_edit') }}</th>
            {% endif %}
        </tr>
      </thead>
       <tbody>
        {% for row in liaisons %}
        <tr>
            <th scope="row">{{ _(row.type) }}</th>
            <td><a href="{{ uri('people.view') }}?person_id={{ row.person_id }}">{{ row.firstname }} {{ row.lastname }}</a></td>
            {% if isAllowed('people', 'viewContactInfo') %}
            <td><a href="mailto:{{ row.email }}">{{ row.email }}</a></td>
            <td><a href="tel:{{ row.phone }}">{{ row.phone }}</a></td>
            {% endif %}
            {% if row.actionLinks %}
            <td>{{ include('html/partials/moreLinks.twig', {actionLinks: row.actionLinks}, with_context=false) }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</section>
{% endblock %}
