{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     liaisons
 * @param array     actionLinks (optional)
 *
 * @see LiasonTable::$dataFields
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
{{ include('html/committees/breadcrumbs.twig') }}
<section>
    <header>
        <h2>{{ committee.getName() }}
            {% set vacancies = committee.getVacancyCount() %}
            {% if vacancies %}({{ vacancies }} {{ _(['vacancy', 'vacancies', vacancies]) }}){% endif %}
        </h2>
        {{ include('html/committees/partials/header.twig') }}
    </header>
    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}
    <div>
        <table class="table">
            {% if committee.getType()          %}<tr><th>{{ _('type'         ) }}</th><td>{{ committee.getType()               }}</td></tr>{% endif %}
            {% if committee.getYearFormed()    %}<tr><th>{{ _('yearFormed'   ) }}</th><td>{{ committee.getYearFormed()         }}</td></tr>{% endif %}
            {% if committee.getEndDate()       %}<tr><th>{{ _('endDate'      ) }}</th><td>{{ committee.getEndDate(DATE_FORMAT) }}</td></tr>{% endif %}
            {% if committee.getStatutoryName() %}<tr><th>{{ _('statutoryName') }}</th><td>{{ committee.getStatutoryName()      }}</td></tr>{% endif %}
            {% if committee.getCode()          %}<tr><th>{{ _('code'         ) }}</th><td>{{ committee.getCode()               }}</td></tr>{% endif %}
            {% if committee.getWebsite()       %}<tr><th>{{ _('website'      ) }}</th><td>{{ committee.getWebsite()            }}</td></tr>{% endif %}
            {% if committee.getVideoArchive()  %}<tr><th>{{ _('videoArchive' ) }}</th><td>{{ committee.getVideoArchive()       }}</td></tr>{% endif %}
            {% if committee.getEmail()         %}<tr><th>{{ _('email'        ) }}</th><td>{{ committee.getEmail()              }}</td></tr>{% endif %}
            {% if committee.getPhone()         %}<tr><th>{{ _('phone'        ) }}</th><td>{{ committee.getPhone()              }}</td></tr>{% endif %}
            {% if committee.getAddress()       %}<tr><th>{{ _('address'      ) }}</th><td>{{ committee.getAddress()            }}</td></tr>{% endif %}
            {% if committee.getCalendarId()    %}<tr><th>{{ _('calendarId'   ) }}</th><td><a href="https://calendar.google.com/calendar/embed?src={{ committee.getCalendarId() }}">{{ committee.getCalendarId() }}</a></td></tr>{% endif %}
            <tr><th>{{ _('legislative') }}</th><td>{{ committee.getLegislative() ? _('yes') : _('no') }}</td></tr>
            <tr><th>{{ _('alternates' ) }}</th><td>{{ committee.getAlternates()  ? _('yes') : _('no') }}</td></tr>
            {% if isAllowed('committees', 'update') %}
            <tr><th>{{ _('termEndWarningDays' ) }}</th><td>{{ committee.getTermEndWarningDays()  }}</td></tr>
            <tr><th>{{ _('applicationLifetime') }}</th><td>{{ committee.getApplicationLifetime() }}</td></tr>
            {% endif %}
        </table>

        {{ committee.getDescription()|markdown_to_html }}

        {% if committee.getMeetingSchedule() %}
        <h3>{{ _('meetingSchedule') }}</h3>
        {{ committee.getMeetingSchedule()|markdown_to_html }}
        {% endif %}
    </div>
</section>

<section>
    <h2>{{ _(['liaison', 'liaisons', 10]) }}</h2>
    {% if isAllowed('liaisons', 'update') %}
    {{ forms.actionLink(uri('liaisons.update'), _('liaison_add'), 'add') }}
    {% endif %}

    {% if liaisons %}
    <table class="table">
    {% for row in liaisons %}
    <tr><td>{{ _(row.type) }}</td>
        <td><a href="{{ uri('people.view') }}?person_id={{ row.person_id }}">{{ row.firstname }} {{ row.lastname }}</a></td>
        {% if isAllowed('people', 'viewContactInfo') %}
        <td>{{ row.email }}</td>
        <td>{{ row.phone }}</td>
        {% endif %}

        {% if row.actionLinks %}
        <td>{{ include('html/partials/moreLinks.twig', {actionLinks: row.actionLinks}, with_context=false) }}</td>
        {% endif %}
    {% endfor %}
    </table>
    {% endif %}
</section>
{% endblock %}
