 {#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     liaisonData
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<div class="grid-container">
    <div class="grid-row grid-gap">
        {{ include('html/committees/partials/side-nav.twig') }}
        <section class="desktop:grid-col-9">
            {{ include('html/committees/partials/header.twig') }}
            <h2>{{ _(['liaison', 'liaisons', 10]) }}</h2>
            {% if isAllowed('liaisons', 'update') %}
            {{ forms.actionLink(uri('liaisons.update'), _('liaison_add'), 'add') }}
            {% endif %}
            {% if liaisons %}
            <ul class="usa-card-group grid-row margin-top-3">
            {% for row in liaisons %}
                <li class="grid-col-6 margin-bottom-2">
                    <div class="usa-card__container">
                        <div class="usa-card__body grid-row flex-row">
                            <div class="grid-col flex-1 display-flex flex-align-center">
                                <h3 class="usa-card__heading">{{ row.firstname }} {{ row.lastname }}</h3>
                            </div>
                            <div class="grid-col-auto display-flex flex-align-center">
                                <a class="usa-link" href="{{ uri('people.view', {id: row.person_id}) }}">{{ _('view') }}</a>
                            </div>
                        </div>
                        <div class="usa-card__footer grid-row">
                            <div class="grid-col flex-1">
                                <div>
                                    <strong>{{ _('type') }}:</strong> {{ _(row.type) }}
                                </div>
                            </div>
                            {% if row.actionLinks %}
                            <div class="grid-col-auto display-flex flex-align-center">
                                {{ include('html/partials/moreLinks.twig', {actionLinks: row.actionLinks}, with_context=false) }}
                            </div>
                            {% endif %}
                        </div> 
                    </div>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}