{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array     meetings
 * @param Committee committee
 *
 * Search Form Parameters
 * @param array     years   Available years to choose from
 * @param int       year
 * @param DateTime  start
 * @param DateTime  end
 *
 * Meetings are a multi-dimension array by date and time.  For each
 * day, there are several meetings.  These are indexed by meeting time.
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig"      as forms %}
{% import  "html/macros/pagination.twig" as pagination %}
{% block content %}
<section>
    <h2>{{ _(['meeting', 'meetings', 10]) }}</h2>
    <div>Last Sync: {{ committee.getSynced('c') }}</div>
    {% if isAllowed('committees', 'meetingsync') %}
    {{ forms.actionLink(uri('committees.meetingsync', {id: committee.getId()}), 'sync') }}
    {% endif %}
    <form class="usa-form" method="get">
        <fieldset class="usa-fieldset">
            {{ forms.field_combo('year', 'year', _('year'), year, years, false ) }}

            {{ forms.button('submit', _('filter'), 'search') }}
        </fieldset>
    </form>

    <ul class="usa-card-group grid-row margin-top-3">
    {% for date, t in meetings %}
        {% for time, m in t %}
        <li class="grid-col-12 margin-bottom-2">
            <div class="usa-card__container">
                <div class="usa-card__header grid-row flex-row">
                    <div class="grid-col flex-1 display-flex flex-align-center">
                        <h3 class="usa-card__heading">
                            <a class="usa-link" href="{{ uri('meetings.view', {id: m.id}) }}">{{ m.start|date('m/d/Y') }} {{ m.start|date('g:i a') }} - {{ m.end|date('g:i a') }}</a>
                        </h3>
                    </div>
                </div>
                <div class="usa-card__footer grid-row">
                    <div class="grid-col flex-1">
                        <div>
                            {{ m.location }}
                        </div>
                        {% for type, t in m.files %}
                            {% for f in t %}
                            <div>
                                <strong>{{ f.type }}:</strong> <a class="usa-link" href="{{ uri('meetingFiles.download', {id: f.id}) }}"> {{ f.title ?? f.filename }}</a>
                            </div>
                            {% endfor %}
                        {% endfor %}

                        {% if m.htmlLink -%}
                            <div>
                                <a class="usa-link" href="{{ m.htmlLink }}">Google Calendar</a>
                            </div>
                        {%- endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
        </ul>
</section>
{% endblock %}
