{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array     meetings
 * @param Committee committee
 *
 * Meetings are a multi-dimension array by date and time.  For for
 * day, there are several meetings.  These are indexed by meeting time.
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig"      as forms %}
{% import  "html/macros/pagination.twig" as pagination %}
{% block content %}
<section class="container my-3">
    {{ include('html/committees/partials/header.twig') }}

    {% for date, t in meetings %}
        {% for time, m in t %}
        <div class="card">
            <div class="card-body">
                <h3><a href="{{ uri('meetings.view', {id: m.id}) }}">
                        {{ m.start|date('m/d/Y') }} {{ m.start|date('g:i a') }} - {{ m.end|date('g:i a') }}
                    </a>
                </h3>
                <p>{{ m.location }}</p>
                <table>
                {% for type, t in m.files %}
                    {% for f in t %}
                    <tr><th>{{ f.type }}</th>
                        <td><a href="{{ uri('meetingFiles.download', {id: f.id}) }}">
                                {{ f.title ?? f.filename }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                </table>
                {% if m.htmlLink -%}
                <a href="{{ m.htmlLink }}" class="card-link">Google Calendar</a>
                {%- endif %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
</section>

{% endblock %}
