{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array     meetings
 * @param Committee committee
 *
 * Meetings are a multi-dimension array by date and time.  For for
 * day, there are several meetings.  These are indexed by meeting time.
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig"      as forms %}
{% import  "html/macros/pagination.twig" as pagination %}
{% block content %}
<section class="my-3">
    {{ include('html/committees/partials/header.twig') }}
    <div class="d-flex">
        <h2 class="me-3">{{ _(['meeting', 'meetings', 10]) }}</h2>
    </div>
    {% for date, t in meetings %}
        {% for time, m in t %}
        <div class="card">
            <div class="card-body">
                <h3><a href="{{ uri('meetings.view') ~ '?meeting_id=' ~ m.id }}">{{ m.start }} - {{ m.end }}</a></h3>
                <p>{{ m.location }}</p>
                <table>
                {% for type, t in m.files %}
                    {% for f in t %}
                    <tr><th>{{ f.type }}</th>
                        <td><a href="{{ uri('meetingFiles.download') ~ '?meetingFile_id=' ~ f.id }}">
                                {{ f.title ?? f.filename }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                </table>
                {% if m.htmlLink -%}
                <a href="{{ m.htmlLink }}" class="card-link">Google Calendar</a>
                {%- endif %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
</section>

{% endblock %}
