{#
 * Lists members for committees that do not have seats and terms.
 *
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     members
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <header>
        <h2>{{ committee.getName() }}
            {% set vacancies = committee.getVacancyCount() %}
            {% if vacancies %}({{ vacancies }} {{ _(['vacancy', 'vacancies', vacancies]) }}){% endif %}
        </h2>
        {{ include('html/committees/partials/header.twig') }}
    </header>

    <table class="table">
    {% for member in members %}
    <tr><td><a href="{{ uri('people.view') }}?person_id={{ member.person_id }}">
            {{ member.name }}
            </a>
        </td>
        <td>{{ member.startDate }} - {{ member.endDate }}</td>
        <td>{% if member.actionLinks is defined %}
            {{ include('html/partials/moreLinks.twig', {actionLinks:member.actionLinks}, with_context:false) }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>

    {% if     isAllowed('members', 'update' ) %}
    {{ forms.actionLink(uri('members.update') ~ '?committee_id=' ~ committee.getId(), _('member_add'), 'add' )}}
    {% elseif isAllowed('members', 'appoint') %}
    {{ forms.actionLink(uri('members.appoint') ~ '?committee_id=' ~ committee.getId(), _('member_add'), 'add' )}}
    {% endif %}

    {% if committee.hasVacancy() %}
    {{ forms.actionLink(uri('applicants.apply') ~ '?committee_id=' ~ committee.getId(), _('apply'), 'add' )}}
    {% endif %}
</section>
{% endblock %}
