{#
 * Lists members for committees that do not have seats and terms.
 *
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     members
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
{{ include('html/committees/breadcrumbs.twig') }}
<section>
    <header>
        <h2>{{ committee.getName() }}
            {% set vacancies = committee.getVacancyCount() %}
            {% if vacancies %}({{ vacancies }} {{ _(['vacancy', 'vacancies', vacancies]) }}){% endif %}
        </h2>
        {{ include('html/committees/partials/header.twig') }}
    </header>

    <table class="table">
    {% for member in members %}
    <tr><td><a href="{{ uri('people.view') }}?person_id={{ member.getPerson_id() }}">
            {{ member.getPerson().getFullname() }}
            </a>
        </td>
        <td>{{ member.getStartDate(DATE_FORMAT) }} - {{ member.getEndDate(DATE_FORMAT) }}</td>
        <td>{% if row.actionLinks is defined %}
            {% for a in row.actionLinks %}<a href="{{ a.url }}">{{ a.label }}</a>{% endfor %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>

    {% if     isAllowed('members', 'update' ) %}
    <a class="btn btn-primary" href="{{ uri('members.update') }}?committee_id={{ committee.getId() }}">{{ _('member_add') }}</a>
    {% elseif isAllowed('members', 'appoint') %}
    <a class="btn btn-primary" href="{{ uri('members.appoint') }}?committee_id={{ committee.getId() }}">{{ _('member_add') }}</a>
    {% endif %}

    {% if committee.hasVacancy() %}
    <a class="btn btn-primary" href="{{ uri('applicants.apply') }}?committee_id={{ committee.getId() }}">{{ _('apply') }}</a>
    {% endif %}
</section>
{% endblock %}
