{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     seat_data
 * @param array     actionLinks
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section class="my-3">
    {{ include('html/committees/partials/header.twig') }}
    <div class="d-flex">
        <h2 class="me-3">{{ _(['current_member', 'current_members', 10]) }}</h2>
        {% if isAllowed('seats', 'update') %}
        {{ forms.actionLink(uri('seats.update'), _('seat_add'), 'add') }}
        {% endif %}
    </div>
    <table class="table">
        <thead>
            <tr><th>{{ _('seat'        ) }}</th>
                <th>{{ _('seat_term'   ) }}</th>
                <th>{{ _('appointed_by') }}</th>
                <th>{{ _('name'        ) }}</th>
                <th>{{ _('actions'        ) }}</th>
            </tr>
        </thead>
        <tbody>
        {% for row in seat_data %}
            <tr><td><a href="{{ uri('seats.view') }}?seat_id={{ row.seat_id }}">{{ row.seat_code }} {{ row.seat_name }}</a></td>
                <td>{{ row.term_startDate|date(DATE_FORMAT) }} - {{ row.term_endDate|date(DATE_FORMAT) }}</td>
                <td>{{ row.appointer_name }}{{ row.seat_voting ? ' (voting)' : '' }}</td>
                <td>{% if row.member_person_id %}
                    {{ row.member_firstname }} {{ row.member_lastname }}
                    {% else %}
                    {{ _('vacant') }}
                    {% endif %}

                    {% if row.offices %}
                    {% for office in row.offices|split(',') %}
                        {% set o=office|split('|') %}
                        {{ o[1] }}
                    {% endfor %}
                    {% endif %}

                    {% if committee.allowsAlternates() %}
                        {% if row.alternate_person_id %}
                        {{ row.alternate_firstname }} {{ row.alternate_lastname }}
                        {% else %}
                        {{ _('alternate_vacant') }}
                        {% endif %}
                    {% endif %}
                </td>
                <td>{% if row.actionLinks is defined %}
                    {{ include('html/partials/moreLinks.twig', { actionLinks: row.actionLinks }) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}
</section>
{% endblock %}
