{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     seat_data
 * @param array     actionLinks
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <h2>{{ _(['current_member', 'current_members', 10]) }}</h2>

    <ul class="add-list-reset grid-row margin-bottom-3">
    {% for row in seat_data %}
        <li class="grid-col-12">
            <div class="hover:bg-base-lightest border-1px border-base-lightest radius-md padding-x-1 padding-bottom-1">
                <div class="grid-row flex-row">
                    <div class="grid-col flex-1 display-flex flex-align-center">
                        <h3>{% if row.member_person_id %}
                            <a href="{{ uri('members.view', {id: row.member_id}) }}">
                            {{ row.member_firstname }} {{ row.member_lastname }}
                            </a>
                            {% else %}
                            {{ _('vacant') }}
                            {% endif %}

                            {% if row.offices %}
                            {% for office in row.offices|split(',') %}
                                {% set o=office|split('|') %}
                                <span class="usa-tag margin-left-1">{{ o[1] }}</span>
                            {% endfor %}
                            {% endif %}
                            {% if committee.allowsAlternates() %}
                                {% if row.alternate_person_id %}
                                <a href="{{ uri('alternates.view', {id: row.alternate_id}) }}">
                                {{ row.alternate_firstname }} {{ row.alternate_lastname }}
                                </a>
                                {% else %}
                                {{ _('alternate_vacant') }}
                                {% endif %}
                            {% endif %}
                        </h3>
                    </div>
                </div>
                <div class="grid-row flex-1">
                    <div class="grid-col">
                        <strong>{{ _('seat') }}:</strong>
                        {% if isAllowed('seats', 'view') %}
                        <a href="{{ uri('seats.view', {id: row.seat_id}) }}">{{ row.seat_code }}</a>
                        {% else %}
                        {{ row.seat_code }}
                        {% endif %}
                    </div>
                    <div class="grid-col">
                        <strong>{{ _('seat_term'   ) }}:</strong> {{ row.term_startDate|date(DATE_FORMAT) }} - {{ row.term_endDate|date(DATE_FORMAT) }}
                    </div>
                    <div class="grid-col">
                        <strong>{{ _('appointed_by') }}:</strong> {{ row.appointer_name }}{{ row.seat_voting ? ' (voting)' : '' }}
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>

    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}
</section>
{% endblock %}
