{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     seats
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section class="my-3">
    {{ include('html/committees/partials/header.twig') }}
    <div class="d-flex">
        <h2 class="me-3">{{ _(['seat', 'seats', 10]) }}</h2>
        {% if isAllowed('seats', 'add') %}
        {{ forms.actionLink(uri('seats.add') ~ '?committee_id=' ~ committee.getId(), _('seat_add'), 'add') }}
        {% endif %}
    </div>
    <table class="table">
    <thead>
        <tr>
            <th>{{ _('code')      }}</th>
            <th>{{ _('name')      }}</th>
            <th>{{ _(['appointer', 'appointers', 1]) }}</th>
            <th>{{ _('type')      }}</th>
            <th>{{ _('startDate') }}</th>
            <th>{{ _('endDate')   }}</th>
            <th>{{ _('seat_edit') }}</th>
        </tr>
    </thead>
    <tbody>
        {% set userCanEdit=isAllowed('seats', 'update') %}
        {% for s in seats %}
        <tr>
            <td>{{ s.getCode() }}</td>
            <td><a href="{{ uri('seats.view', {id: s.getId()}) }}">{{ s.getName() }}</a></td>
            <td>{{ s.getAppointer() }}</td>
            <td>{{ s.getType() }}</td>
            <td>{{ s.getStartDate(DATE_FORMAT) }}</td>
            <td>{{ s.getEndDate  (DATE_FORMAT) }}</td>
            <td>{% if userCanEdit %}
                {{ forms.actionLink(uri('seats.update', {id: s.getId()}), _('edit'), 'edit') }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</section>
{% endblock %}
