{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Seat      seat
 * @param Committee committee
 * @param Term      term
 *
 * Metadata
 * @param array termIntervals  Human readable termIntervals lookup
 * @param array termModifiers  Human readable termModifiers lookup
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <header><h2>{{ seat.name }}</h2></header>
    {{ include('html/seats/partials/seat_info.twig') }}
</section>

<section>
    <header><h2>{{ term.getId() ? _('term_edit') : _('term_add') }}</h2></header>

    <form method="post" class="usa-form">
        <fieldset       class="usa-fieldset">
            <input name="seat_id" type="hidden" value="{{ seat.getId() }}" />

            {{ forms.field_date('startDate', 'startDate', _('startDate'), term.getStartDate('Y-m-d'), true  ) }}
            {{ forms.field_date(  'endDate',   'endDate', _(  'endDate'), term.getEndDate('Y-m-d'),   true  ) }}

            {{ forms.button('submit', _('save'), 'save') }}
            {{ forms.actionLink(uri('seats.view', { seat_id: seat.getId() }), _('cancel'), 'cancel') }}
        </fieldset>
    </form>
</section>

{% endblock %}
