{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     seats
 * @param array     current_applications
 * @param array     archived_applications
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>
    <header>
        <h2>{{ committee.getName() }}
            {% set vacancies = committee.getVacancyCount() %}
            {% if vacancies %}({{ vacancies }} {{ _(['vacancy', 'vacancies', vacancies]) }}){% endif %}
        </h2>
        {{ include('html/committees/partials/header.twig') }}
        <h3>{{ _('applications_reportForm_title', 'messages') }}</h3>
    </header>

    <form method="post" action="{{ uri('applications.report') }}">
        <fieldset>
            <legend>{{ _(['seat', 'seats', seats|length ]) }}</legend>
            {% for s in seats %}
                {% if s.takesApplications() %}
                <div class="form-check {{ s.hasVacancy() ? ' vacant' : '' }}">
                    <label>
                        <input name="seats[]" type="checkbox" value="{{ s.getId() }}" class="form-check-input" />
                        {{ s.getCode() }}: {{ s.getName() }}
                    </label>
                </div>
                {% endif %}
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend>{{ _(['applicant', 'applicants', current_applications|length ]) }}</legend>
            <table class="table">
            <thead>
                <tr><th></th>
                    <th>{{ _('created') }}</th>
                    <th>{{ _('name'   ) }}</th>
                    <th>{{ _('expires') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set userCanViewApplicant    = isAllowed('applicants',   'view')         %}
                {% set userCanArchive          = isAllowed('applications', 'archive')      %}
                {% set userCanUnArchive        = isAllowed('applications', 'unarchive')    %}
                {% set userCanDelete           = isAllowed('applications', 'delete')       %}

                {% for a in current_applications %}
                {% set p = a.getApplicant() %}
                <tr><td><input name="applications[]" type="checkbox" value="{{ a.getId() }}" /></td>
                    <td>{{ a.getCreated(DATE_FORMAT) }}</td>
                    <td>{% if userCanViewApplicant %}
                        <a href="{{ uri('applicants.view') }}?applicant_id={{ a.getApplicant_id() }}">
                            {{ p.getFirstname() }} {{ p.getLastname() }}
                        </a>
                        {% else %}
                        {{ p.getFirstname() }} {{ p.getLastname() }}
                        {% endif %}
                    </td>
                    <td>{{ a.getExpires(DATE_FORMAT) }}</td>
                    <td>{% if userCanArchive %}
                        <a class="btn btn-primary"
                           href="{{ uri('applications.archive') }}?application_id={{ a.getId() }}">
                            {{ _('application_archive') }}
                        </a>
                        {% endif %}

                        {% if userCanDelete %}
                        <a class="btn btn-primary"
                           href="{{ uri('applications.delete') }}?application_id={{ a.getId() }}">
                            {{ _('application_delete') }}
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </fieldset>
        <fieldset>
            <input name="committee_id" type="hidden" value="{{ committee.getId() }}" />
            <button type="submit" class="btn btn-success">{{ _('report_view') }}</button>
        </fieldset>
    </form>
</section>

{{ include('html/applications/partials/archived_applications.twig') }}

{% endblock %}
