{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     seats
 * @param array     applications_current
 * @param array     applications_archived
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>
    <header>
        <h2>{{ committee.getName() }}
            {% set vacancies = committee.getVacancyCount() %}
            {% if vacancies %}({{ vacancies }} {{ _(['vacancy', 'vacancies', vacancies]) }}){% endif %}
        </h2>
        {{ include('html/committees/partials/header.twig') }}
        <h3>{{ _('applications_reportForm_title', 'messages') }}</h3>
    </header>

    <form method="post" action="{{ uri('applications.report') }}">
        <fieldset>
            <legend>{{ _(['seat', 'seats', 10 ]) }}</legend>
            {% for s in seats %}
                {% if s.takesApplications() %}
                <div class="form-check {{ s.hasVacancy() ? ' vacant' : '' }}">
                    <label>
                        <input name="seats[]" type="checkbox" value="{{ s.getId() }}" class="form-check-input" />
                        {{ s.getCode() }}: {{ s.getName() }}
                    </label>
                </div>
                {% endif %}
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend>{{ _(['applicant', 'applicants', 10 ]) }}</legend>
            <table class="table">
            <thead>
                <tr><th></th>
                    <th>{{ _('created') }}</th>
                    <th>{{ _('name'   ) }}</th>
                    <th>{{ _('expires') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set userCanViewApplicant = isAllowed('applicants', 'view') %}

                {% for a in applications_current %}
                <tr><td><input name="applications[]" type="checkbox" value="{{ a.id }}" /></td>
                    <td>{{ a.created|date('m/d/Y') }}</td>
                    <td>{% if userCanViewApplicant %}
                        <a href="{{ uri('applicants.view') }}?applicant_id={{ a.applicant_id }}">
                            {{ a.applicant }}
                        </a>
                        {% else %}
                        {{ a.applicant }}
                        {% endif %}
                    </td>
                    <td>{{ a.expires|date('m/d/Y') }}</td>
                    <td>{% if a.actionLinks %}
                        {{ include('html/partials/actionLinks.twig', {actionLinks:a.actionLinks}, with_context=false) }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </fieldset>
        <fieldset>
            <input name="committee_id" type="hidden" value="{{ committee.getId() }}" />
            <button type="submit" class="btn btn-success">{{ _('report_view') }}</button>
        </fieldset>
    </form>
</section>

{{ include('html/applications/partials/archived_applications.twig') }}

{% endblock %}
