{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     seats
 * @param array     applications_current
 * @param array     applications_archived
 #}
{% extends "html/layouts/committee.twig" %}
{% block content %}
<section>
    <h2>{{ _('applications_reportForm_title', 'messages') }}</h2>
    <form action="{{ uri('applications.report') }}">
        <fieldset   class="usa-fieldset margin-bottom-2">
            <legend class="usa-legend">{{ _(['seat', 'seats', 10 ]) }}</legend>
            {% for s in seats %}
                {% if s.takesApplications() %}
                <div class="form-check {{ s.hasVacancy() ? ' vacant' : '' }}">
                    <label>
                        <input name="seats[]" type="checkbox" value="{{ s.getId() }}" class="form-check-input" />
                        {{ s.getCode() }}: {{ s.getName() }}
                    </label>
                </div>
                {% endif %}
            {% endfor %}
        </fieldset>
        <fieldset class="usa-fieldset">
            <legend class="usa-legend">{{ _(['application', 'applications', 10 ]) }}</legend>
            <table class="usa-table margin-top-1">
            <thead>
                <tr><th></th>
                    <th>{{ _('created') }}</th>
                    <th>{{ _('name'   ) }}</th>
                    <th>{{ _('expires') }}</th>
                    <th>{{ _('actions') }}</th>
                </tr>
            </thead>
            <tbody>
                {% set canView = isAllowed('applications', 'view') %}

                {% for a in applications_current %}
                <tr><td><input name="applications[]" type="checkbox" value="{{ a.id }}" /></td>
                    <td>{{ a.created }}</td>
                    <td>{% if canView %}
                        <a class="usa-link" href="{{ uri('applications.view', { application_id: a.id }) }}">
                            {{ a.person }}
                        </a>
                        {% else %}
                        {{ a.person }}
                        {% endif %}
                    </td>
                    <td>{{ a.expires }}</td>
                    <td>{% if a.actionLinks %}
                        {{ include('html/partials/actionLinks.twig', { actionLinks:a.actionLinks }, with_context=false) }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </fieldset>
        <fieldset class="usa-fieldset">
            <input name="committee_id" type="hidden" value="{{ committee.getId() }}" />
            <button type="submit" class="usa-button">{{ _('report_view') }}</button>
        </fieldset>
    </form>
    <section>
    <header>
        <h2>{{ _('applications_archived') }}</h2>
    </header>

    <table class="usa-table">
        <thead>
            <tr><th>{{ _('created' ) }}</th>
                <th>{{ _('name'    ) }}</th>
                <th>{{ _('archived') }}</th>
                <th>{{ _('actions') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for a in applications_archived %}
            <tr><td>{{ a.created }}</td>
                <td>{% if canView %}
                    <a class="usa-link" href="{{ uri('people.view', { person_id: a.person_id}) }}">
                        {{ a.person }}
                    </a>
                    {% else %}
                    {{ a.person }}
                    {% endif %}
                </td>
                <td>{{ a.archived }}</td>
                <td>{% if a.actionLinks %}
                    {{ include('html/partials/actionLinks.twig', {actionLinks:a.actionLinks}, with_context=false) }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
