{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array     applications
 * @param array     seats
 * @param Committee committee
 #}
{% extends "html/layouts/committee.twig" %}
{% block content %}
<section class="grid-container">
    {{ include('html/committees/partials/header.twig') }}
    <h2>{{ _('applications_reportForm_title', 'messages') }}</h2>
    {% if seats %}
    <section>
        <header><h4>{{ _(['requirement', 'requirements', 10]) }}</h4></header>
        <dl>{% for s in seats %}
            {% if s.getRequirements() %}
            <dt>{{ s.getCode() }}: {{ s.getName() }}</dt>
            <dd>{{ s.getRequirements() | markdown_to_html }}</dd>
            {% endif %}
            {% endfor %}
        </dl>
    </section>
    {% endif %}

    {% for a in applications %}
    {% set person = a.getPerson() %}
    <article     class="usa-card">
        <header  class="usa-card__header">
            <h3  class="usa-card__heading">{{ person.getFullname() }} {{ a.created|date(DATE_FORMAT) }}</h3>
        </header>
        <dl      class="usa-card__body">
            <dt>{{ _('email'         ) }}</dt><dd>{{ person.getEmail() }}</dd>
            <dt>{{ _('phone'         ) }}</dt><dd>{{ person.getPhone() }}</dd>
            <dt>{{ _('address'       ) }}</dt><dd><address>{{ person.getAddress() }}<br />{{ person.getCity() }} {{ person.getZip() }}</address></dd>
            <dt>{{ _('citylimits'    ) }}</dt><dd>{{ person.getCitylimits() ? 'Yes' : 'No' }}</dd>
            <dt>{{ _('occupation'    ) }}</dt><dd>{{ person.getOccupation() }}</dd>
            <dt>{{ _('referredFrom'  ) }}</dt><dd>{{ a.getReferredFrom()   }}</dd>
            <dt>{{ _('referredOther' ) }}</dt><dd>{{ a.getReferredOther()  }}</dd>
            <dt>{{ _('interest'      ) }}</dt><dd>{{ a.getInterest()       }}</dd>
            <dt>{{ _('qualifications') }}</dt><dd>{{ a.getQualifications() }}</dd>

            {% if isAllowed('applicantFiles', 'download') %}
            <dt>{{ _('applicantFile') }}</dt>
            <dd>{% for f in person.getFiles() %}
                <a href="{{ uri('applicantFiles.download', { applicantFile_id: f.getId() }) }}">{{ f.getFilename() }}</a>
                {% endfor %}
            </dd>
            {% endif %}
        </dl>
    </article>
    {% endfor %}
</section>
{% endblock %}
