{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @see LiaisonTable::$dataFields
 * @param array  data
 * @param string type
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>
    <header>
        <h1>{{ _(['liaison', 'liaisons', 10]) }}</h1>

        <a href="{{ uri('liaisons.index') }}"
            class="usa-link margin-right-05">{{ _('departmental') }}</a>

        <a href="{{ uri('liaisons.index') }}?type=legal" class="usa-link margin-right-05">
            {{ _('legal') }}
            <svg class="usa-icon bottom-neg-2px" aria-hidden="true" focusable="false" role="img">
                <use href="{{ USWDS_URL }}/img/sprite.svg#filter_list"></use>
            </svg>
        </a>
    </header>

    <h2>{{ _(type) }}</h2>


    {% if actionLinks is defined %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}

    <table  class="usa-table usa-table--borderless usa-table--stacked">
        <thead>
            <tr><th>{{ _('committee'   ) }}</th>
                <th>{{ _('name'        ) }}</th>
                {% if isAllowed('people', 'viewContactInfo') %}
                <th>{{ _('email'   ) }}</th>
                <th>{{ _('phone'   ) }}</th>
                {% endif %}
                <th>{{ _('status'      ) }}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr><td><a class="usa-link" href="{{ uri('committees.info', { committee_id: row.committee_id}) }}">
                        {{ row.committee_code ?? row.committee }}
                    </a>
                </td>
                <td><a class="usa-link" href="{{ uri('people.view', { person_id: row.person_id }) }}">{{ row.firstname }} {{ row.lastname }}</a></td>
                {% if isAllowed('people', 'viewContactInfo') %}
                <td>{{ row.email }}</td>
                <td>{{ row.phone }}</td>
                {% endif %}
                <td>{{ row.status }}</td>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}
