{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @see LiaisonTable::$dataFields
 * @param array data
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section class="container my-3">
    <header class="mb-3">
        <h1>{{ _(['liaison', 'liaisons', 10]) }}</h1>
    </header>
    {% if actionLinks is defined %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}
    <table  class="table table-sm">
    {% for row in data %}
    <tr><td><a href="{{ uri('committees.info', {id: row.committee_id}) }}">{{ row.committee }}</a></td>
        <td>{{ _(row.type) }}</td>
        <td><a href="{{ uri('people.view', {id: row.person_id}) }}">{{ row.firstname }} {{ row.lastname }}</a></td>

        {% if isAllowed('people', 'viewContactInfo') %}
        <td>{{ row.email }}</td>
        <td>{{ row.phone }}</td>
        {% endif %}
    {% endfor %}
    </table>
</section>

{% endblock %}
