{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Liaison   liaison
 * @param Committee committee
 #}
{% extends 'html/layouts/committee.twig' %}
{% import  'html/macros/forms.twig' as forms %}
{% import  'html/macros/personChooser.twig' as chooser %}
{% block content %}
<section>
    <form class="usa-form" method="post">
        <fieldset class="usa-fieldset">
            <legend class="usa-legend usa-legend--large">{{ liaison.getId() ? _('liaison_edit') : _('liaison_add') }}</legend>
            <input name="liaison_id"   type="hidden" value="{{ liaison.getId() }}" />
            <input name="committee_id" type="hidden" value="{{ committee.getId() }}" />

            <input type="hidden" name="person_id" id="person_id" value="{{ liaison.getPerson_id() }}" />
            {{ chooser.personChooser('person_id', 'person_id', liaison.getPerson() ) }}


            {{ forms.field_select('type', 'type', _('type'), liaison.getType(), types, true )}}
        </fieldset>
        {{ forms.button('submit', _('save'), 'save') }}
        {{ forms.actionLink(uri('committees.liaisons', {id: committee.getId()}), _('cancel') ) }}
    </form>
</section>
<script type="text/javascript" src="{{ BASE_URI }}/js/people/chooser-{{ VERSION }}.js"></script>

{% endblock %}
