{#
 * @copyright 2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Person        person
 * @param ApplicantFile file
 * @param string        return_url
 * @param string        accept     Comma separated mime_types that are accepted
 * @param int           maxBytes   Max upload size in bytes
 * @param string        maxSize    Max upload size, human readable
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <header><h1>{{ person.getFullname() }}</h1></header>
    {{ include('html/people/partials/info.twig') }}

    <form           class="usa-form" method="post" enctype="multipart/form-data">
        <fieldset   class="usa-fieldset">
            {{ forms.field_file('applicantFile', 'applicantFile', _('applicantFile'), file,
                                accept, maxSize, maxBytes, false, {},
                                accept ~ ' - ' ~ maxSize) }}

            {{ forms.button('submit', _('save'), 'save') }}
            {{ forms.actionLink(return_url, _('cancel') ) }}
        </fieldset>
    </form>
</section>

{% endblock %}
