{% extends "html/layouts/default.twig" %}

{% block content %}
<section class="container mt-4">
    <header>
        <h1 class="mb-4">{{ _('department_add') }}</h1>
    </header>
    <form method="post" action="{{ uri('departments.add') }}">
        <fieldset>
            <legend class="h5 mb-3">{{ _('new_department') }}</legend>
            <div class="form-group mb-3">
                <label for="name" class="form-label">{{ _('name') }}</label>
                <input name="name" id="name" value="" required="required" class="form-control" />
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">{{ _('save') }}</button>
                <a href="{{ uri('departments.index') }}" class="btn btn-secondary">{{ _('cancel') }}</a>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}