{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Department department
#}
{% extends "html/layouts/default.twig" %}

{% block content %}
<section>
    <header>
        <h1><a href="{{ uri('departments.index') }}">{{ _(['department', 'departments', 10]) }}</a></h1>
        <h2>{{ department.name }}</h2>
    </header>

    <section>
        <header><h3>{{ _(['committee', 'committees', 10]) }}</h3></header>
        <table>
            {% for committee in department.committees %}
            <tr><td><a href="{{ uri('committees.info', { committee_id: committee.id }) }}">
                        {{ committee.name }}
                    </a>
                </td>
            </tr>
            {% else %}
            <tr><td>No committees found.</td></tr>
            {% endfor %}
        </table>
    </section>

    {% if isAllowed('users', 'view') %}
    <section>
        <header><h3>Users</h3></header>
        {% if department.users|length > 0 %}
        <ul>{% for user in department.users %}
            <li>{% if user.getFullname is defined %}
                {{ user.getFullname() }}
                {% elseif user.getUsername is defined %}
                {{ user.getUsername() }}
                {% else %}
                User ID: {{ user.getId() }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No users found for this department.</p>
        {% endif %}
    </section>
    {% endif %}
</section>
{% endblock %}
