{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array departments
#}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>
    <header>
        <h1>{{ _(['department', 'departments', 10]) }}</h1>
        {% if actionLinks %}
        {{ include('html/partials/actionLinks.twig') }}
        {% endif %}
    </header>

    <table class="table table-striped">
    {% for d in departments %}
    <tr><td><a href="{{ uri('departments.info') }}?department_id={{ d.id }}">{{ d.name }}</a></td>
        <td>{% if d.actionLinks %}
            {{ include('html/partials/actionLinks.twig', {actionLinks:d.actionLinks}, with_context=false) }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
</section>
{% endblock %}
