{% extends "html/layouts/default.twig" %}

{% block content %}
<section class="container mt-4">
    <header>
        <h1 class="mb-4">{{ _('department_edit') }}</h1>
    </header>
    <form method="post" action="{{ uri('departments.update', {'department_id': department.id}) }}">
        <fieldset>
            <legend class="h5 mb-3">{{ department.name }}</legend>
            <input name="department_id" type="hidden" value="{{ department.id }}" />
            <div class="form-group mb-3">
                <label for="name" class="form-label">{{ _('name') }}</label>
                <input name="name" id="name" value="{{ department.name }}" required="required" class="form-control" />
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">{{ _('save') }}</button>
                <a href="{{ uri('departments.index') }}" class="btn btn-secondary">{{ _('cancel') }}</a>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}