{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Department department
#}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <header>
        <h1>{{ department.getId() ? _('department_edit') : _('department_add') }}</h1>
    </header>
    <form         class="usa-form" method="post">
        <fieldset class="usa-fieldset">
            <input name="id" type="hidden" value="{{ department.getId() }}" />

            {{ forms.field_text('name', 'name', _('name'), department.getName(), true ) }}
            {{ forms.button('submit', _('save'), 'save') }}
            {{ forms.actionLink(uri('departments.index'), _('cancel'), 'cancel') }}
        </fieldset>
    </form>
</section>
{% endblock %}
