{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     files
 * @param array     sort
 * @param int       year   Current chosen year
 * @param array     years  Available years for the committee
 * @param string    type   Current chosen type
 * @param array     types  Meeting file types
 * @param array     actionLinks
 * @param array     addLinks
 *
 * Pagination parameters
 * @param int       total
 * @param int       itemsPerPage
 * @param int       currentPage
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}

{% block content %}
<div class="grid-container">
    <div class="grid-row grid-gap">
        {{ include('html/committees/partials/side-nav.twig') }}
    <section class="desktop:grid-col-9">
        {% if committee %}
            {{ include('html/committees/partials/header.twig') }}
        {% endif %}
        <h2>{{ _(['meetingFile', 'meetingFiles', 10]) }}</h2>

        <form class="usa-form" method="get">
            <fieldset class="usa-fieldset">
                {% if committee %}
                <input type="hidden" name="committee_id" value="{{ committee.getId() }}" />
                {% endif %}
                <div class="col-auto">
                    <label class="col-form-label" for="year">{{ _('year') }}:</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" name="year" id="year" onchange="this.form.submit();">
                        {% for y in years %}
                        <option{{ y==year ? ' selected="true"' : ''}}>{{ y }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% set url = current_url() %}
                <div class="row flex-row mb-3">
                    {% for k,v in url.parameters %}
                    {% if k!='type' and k!='year' %}
                    <input name="{{ k }}" type="hidden" value="{{ v }}" />
                    {% endif %}
                    {% endfor %}
                    <div class="col-auto">
                        <label class="col-form-label" for="type">{{ _('filter_by') }}</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" id="type" name="type" onchange="this.form.submit();">
                            <option value="" aria-label="{{ _('choose_type') }}"></option>
                            {% for t in types %}
                            <option{{ t==type ? ' selected="true"' : '' }}>{{ t }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>


        <ul class="usa-collection usa-collection--condensed margin-top-3">
        {% for f in files %}
        <li class="usa-collection__item">
            <div class="usa-collection__body">
                <div class="usa-card__header grid-row flex-row">
                    <div class="grid-col flex-1 display-flex flex-align-center">
                        <h3 class="usa-collection__heading">
                        {{ f.title }} 
                        </h3>
                    </div>
                    <div class="grid-col-auto display-flex flex-align-center">
                    <a class="usa-link" href="{{ uri('meetingFiles.download', {id: f.id}) }}">
                        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                            <use href="/static/uswds/dist/img/sprite.svg#file_download"></use>
                        </svg>
                        </a>
                    </div>
                </div>
                <div class="usa-card__footer grid-row">
                    <div class="grid-col flex-1">
                        <div>
                            <strong>{{ _('type') }}:</strong> {{ f.type }}
                        </div>
                        <div>
                            <strong>{{ _('meetingDate') }}:</strong> <a href="{{ uri('meetings.view', {id: f.meeting_id}) }}">{{ f.meetingDate }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
        </ul>

        
        {% if total > itemsPerPage %}
            {{ pagination.pageLinks(total, itemsPerPage, currentPage) }}
        {% endif %}

        {{ include('html/partials/actionLinks.twig') }}
    </section>
{% endblock %}
