{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     files
 * @param array     sort
 * @param int       year   Current chosen year
 * @param array     years  Available years for the committee
 * @param string    type   Current chosen type
 * @param array     types  Meeting file types
 * @param array     actionLinks
 * @param array     addLinks
 *
 * Pagination parameters
 * @param int       total
 * @param int       itemsPerPage
 * @param int       currentPage
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/pagination.twig" as pagination %}

{% block content %}
<section class="container my-3">
    <form method="get">
    {% if committee %}
    <header class="mb-3">
        <h1>{{ committee.getName() }}
            {% set vacancies = committee.getVacancyCount() %}
            {% if vacancies %}({{ vacancies }} {{ _(['vacancy', 'vacancies', vacancies]) }}){% endif %}
        </h1>
        {{ include('html/committees/partials/header.twig') }}
    </header>
    {% endif %}
    <div class="d-flex flex-sm-row flex-column">
        <div class="flex-grow-1 flex-row mb-3">
            <div class="d-flex">
                <h2 class="me-3">{{ _(['meetingFile', 'meetingFiles', 10]) }}</h2>
                {% if addLinks %}
                <nav class="dropdown align-self-center me-3">
                    <button class="btn btn-sm btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ _('add') }}
                    </button>
                    <ul class="dropdown-menu">
                        {% for link in addLinks %}
                        <li><a href="{{ link.url }}" class="dropdown-item">{{ link.label }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
        <div class="row me-3 flex-row mb-3">
            {% if committee %}
            <input type="hidden" name="committee_id" value="{{ committee.getId() }}" />
            {% endif %}
            <div class="col-auto">
                <label class="col-form-label" for="year">{{ _('year') }}:</label>
            </div>
            <div class="col-auto">
                <select class="form-select" name="year" id="year" onchange="this.form.submit();">
                    {% for y in years %}
                    <option{{ y==year ? ' selected="true"' : ''}}>{{ y }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {% set url = current_url() %}
        <div class="row flex-row">
            {% for k,v in url.parameters %}
            {% if k!='type' and k!='year' %}
            <input name="{{ k }}" type="hidden" value="{{ v }}" />
            {% endif %}
            {% endfor %}
            <div class="col-auto">
                <label class="col-form-label" for="type">{{ _('sort_by') }}</label>
            </div>
            <div class="col-auto">
                <select class="form-select" name="type" onchange="this.form.submit();">
                    <option value="">{{ _('type') }}</option>
                    {% for t in types %}
                    <option{{ t==type ? ' selected="true"' : '' }}>{{ t }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>    
    </div>

    <table class="table">
    <thead>
        <tr><th>{% do url.__set('sort', (sort.field=='title' and sort.direction=='desc') ? 'title asc' : 'title desc') %}
                <a href="{{ url }}">{{ _('title') }}</a>
            </th>
            <th>{% do url.__set('sort', (sort.field=='filename' and sort.direction=='desc') ? 'filename asc' : 'filename desc') %}
                <a href="{{ url }}">{{ _('filename') }}</a>
            </th>
            <th>{% do url.__set('sort', (sort.field=='meetingDate' and sort.direction=='desc') ? 'meetingDate asc' : 'meetingDate desc') %}
                <a href="{{ url }}">{{ _('meetingDate') }}</a>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for f in files %}
        <tr><td>{{ f.title }}</td>
            <td><a href="{{ uri('meetingFiles.download') ~ '?meetingFile_id=' ~ f.id }}">{{ f.filename }}</a></td>
            <td>{{ f.meetingDate }}</td>
            <td>{{ f.type }}</td>
            <td>{% if f.actions %}
                {{ include('html/partials/moreLinks.twig', { actionLinks: f.actions }) }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(total, itemsPerPage, currentPage) }}
    {% endif %}
    </form>
    {{ include('html/partials/actionLinks.twig') }}
</section>
{% endblock %}
