{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee (optional)
 * @param array     search     Search parameters requested
 * @param array     files      Search results
 * @param array     actionLinks
 *
 * Drop Down Options
 * @param array     years      Available years for the committee
 * @param array     types      Meeting file types
 * @param array     committees
 * @param array     sorts      Sorting options
 *
 * Pagination parameters
 * @param string    sort
 * @param int       total
 * @param int       itemsPerPage
 * @param int       currentPage
 #}
{% set t = committee ? 'html/layouts/committee.twig' : 'html/layouts/default.twig' %}
{% extends t %}
{% import  "html/macros/forms.twig"      as forms %}
{% import  "html/macros/pagination.twig" as pagination %}

{% block content %}
<section>
    <header>
        <h1>{{ _(['meetingFile', 'meetingFiles', 10]) }}</h1>
    </header>

    <form method="get" class="usa-form">
        <fieldset      class="usa-fieldset">
            <input name="page" value="{{ currentPage }}" type="hidden" />

            {{ forms.field_select('committee_id', 'committee_id', _('committee'), search.committee_id ?? '', committees, false, { onchange:'this.form.submit();' } ) }}
            {{ forms.field_select('year', 'year', _('year'), search.year ?? '', years, false, { onchange:'this.form.submit();' } ) }}
            {{ forms.field_select('type', 'type', _('type'), search.type ?? '', types, false, { onchange:'this.form.submit();' } ) }}
            {{ forms.field_select('sort', 'sort', _('sort'), search.sort ?? '', sorts, false, { onchange:'this.form.submit();' } ) }}

            {{ forms.button('submit', _('filter'), 'search') }}
        </fieldset>
    </form>

    <ul class="usa-collection usa-collection--condensed margin-top-3">
    {% for f in files %}
    <li class="usa-collection__item">
        <div class="usa-collection__body">
            <h3 class="usa-collection__heading">
                <a class="usa-link" href="{{ uri('meetingFiles.download', { meetingFile_id: f.id }) }}">
                    {{ f.title ?? f.type }}
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use href="{{ USWDS_URL }}/img/sprite.svg#file_present"></use>
                    </svg>
                </a>
            </h3>
            <ul class="usa-collection__meta" aria-label="More information">
                {% if not committee %}
                <li><strong>{{ f.committee }}</strong></li>
                {% endif %}
                <li class="usa-collection__meta-item position-relative">
                    <strong>{{ _('type') }}:</strong>
                    {{ f.type }}
                </li>
                <li class="usa-collection__meta-item position-relative">
                    <strong>{{ _('meetingDate') }}:</strong>
                    <a class="usa-link" href="{{ uri('meetings.view', { meeting_id: f.meeting_id }) }}">{{ f.meetingDate }}</a>
                </li>
            </ul>
        </div>
    </li>
    {% endfor %}
    </ul>

    {% if total > itemsPerPage %}
        {{ pagination.pageLinks(REQUEST.uri.path, search, total, itemsPerPage, currentPage) }}
    {% endif %}

    {{ include('html/partials/actionLinks.twig') }}
</section>
{% endblock %}
