{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param MeetingFile meetingFile
 * @param Committee   committee
 *
 * Metadata
 * @param array  types      Meeting file type options
 * @param int    year       The year used for listing event choices
 * @param array  meetings   The meeting options for the chosen year
 * @param string accept     Comma separated mime_types that are accepted
 * @param int    maxBytes   Max upload size in bytes
 * @param string maxSize    Max upload size, human readable
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig"      as forms      %}
{% block content %}

<form class="usa-form"  method="post" enctype="multipart/form-data">
    <fieldset class="usa-fieldset">
        <legend class="usa-legend usa-legend--large">{{ meetingFile.getId() ? _('meetingFile_edit') : _('meetingFile_add') }}</legend>

        {{ forms.field_combo('meeting_id', 'meeting_id', _('meeting'), meetingFile.getMeeting_id(), meetings, true ) }}
        <div class="grid-row margin-top-1">
            <div class="flex-col flex-1">
                {% set url = uri('meetingFiles.update', { meetingFile_id: meetingFile.id }) ~ '?year=' ~ (year - 1) %}
                {{ forms.actionLink(url, (year - 1) ) }}
            </div>
            <div class="flex-col flex-align-end">
                {% set url = uri('meetingFiles.update', { meetingFile_id: meetingFile.id }) ~ '?year=' ~ (year + 1) %}
                {{ forms.actionLink(url, (year + 1) ) }}
            </div>
        </div>

        {{ forms.field_select('type', 'type', _('type'),  meetingFile.getType(), types, true) }}
        {{ forms.field_text('title', 'title', _('title'), meetingFile.getTitle() ) }}

        <div class="usa-form-group">
            {% if meetingFile.getFilename() -%}
            <div><a href="{{ uri('meetingFiles.download', { meetingFile_id: meetingFile.getId() }) }}">
                    {{ meetingFile.getFilename() }}
                 </a>
            </div>
            {%- endif %}
            {{ forms.field_file('meetingFile', 'meetingFile', _('meetingFile'), meetingFile,
                                accept, maxSize, maxBytes, false, {},
                                accept ~ ' - ' ~ maxSize) }}
        </div>

        {{ forms.button('submit', _('save'), 'save') }}
        {{ forms.actionLink(uri('meetings.view', { meeting_id: meetingFile.getMeeting_id() }) , _('cancel') ) }}
    </fieldset>
</form>
{% endblock %}
