{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array legislation
 #}
{% import "html/macros/forms.twig" as forms %}
{% for l in legislation %}
<article    class="usa-card">
    <header class="usa-card__header">
        <h2 class="usa-card__heading">
            <a href="{{ uri('legislation.view', {'id': l.getId(), 'committee_id': l.getCommittee_id() }) }}">
                {{ l.getType() }} {{ l.getNumber() }} {{ l.getStatus() ? l.getStatus().getName() : '' }}
            </a>
        </h2>
    </header>
    <div class="usa-card__body">
        <p>{{ l.getTitle() }}</p>
        <div>
            {% for f in l.getFiles() -%}
            {{- forms.actionLink(uri('legislationFiles.download', {id: f.getId()}), f.filename, 'download') -}}
            {%- endfor %}
        </div>
    </div>
</article>
{% endfor %}
