{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array legislation
 #}
{% import "html/macros/forms.twig" as forms %}
<div class="usa-card-group margin-top-3">
{% for l in legislation %}
<article    class="usa-card__container margin-bottom-2 grid-col-12">
    <header class="usa-card__header">
        <h2 class="usa-card__heading">
            <a class="usa-link" href="{{ uri('legislation.view', { legislation_id: l.getId(), committee_id: l.getCommittee_id() }) }}">
                {{ l.getType() }} {{ l.getNumber() }} {{ l.getStatus() ? l.getStatus().getName() : '' }}
            </a>
        </h2>
    </header>
    <div class="usa-card__body">
        <p>{{ l.getTitle() }}</p>
        <div>
            {% for f in l.getFiles() -%}
            {{- forms.actionLink(uri('legislationFiles.download', { legislationFile_id: f.getId()}), f.filename, 'download') -}}
            {%- endfor %}
        </div>
    </div>
</article>
{% endfor %}
</div>
