{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array legislation
 #}
{% import "html/macros/forms.twig" as forms %}
{% for l in legislation %}
<article>
    <header>
        <h2><a href="{{ uri('legislation.view') ~ '?legislation_id=' ~ l.getId() }}">{{ l.getType() }} {{ l.getNumber() }} {{ l.getStatus() ? l.getStatus().getName() : '' }}</a>
            {{ forms.actionLink(uri('legislationFiles.download') ~ '?legislation_id=' ~ l.getId(), _('download'), 'download') }}
        </h2>
        <h3>{{ l.getTitle() }}</h3>
    </header>
</article>
{% endfor %}
